.header-blog {
    margin: em(50) 0 em(25);
	.title{
        position: relative;
        text-align: center;
        font-size: em(48);
        margin-bottom: em(15);
        padding: 0;
    	&--hidden-mobile{
    		opacity: 1;
    		visibility: visible;
    	}
	}
}
