.header-blog {
	position: relative;
	margin: em(40) 0 em(25);
	.title{
		position: absolute;
    	padding-left: 50px;
    	line-height: .8;
    	opacity: 1;
    	visibility: visible;
    	transition: all 150ms ease;
    	&--hidden-mobile{
    		opacity: 0;
			visibility: hidden;
    	}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
