.landing-cards {

	.swiper-pagination-bullet{
		width: 7px;
		height: 7px;
		margin: 0 5px;
	}
	.swiper-pagination-bullet-active{
		background: c('blue');
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
