.services-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: em(-100);
    left: 0;
    width:100%;
    height: 100%;
    background-image: url('../img/bg-header-solutions-mobile.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
@include medium {
  .services-bg{
    &:before{
      top: auto;
      background-position: bottom; 
    }
  }
}
@include large {
  .home-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: em(-95);
    right: 0;
    background-image: url('../img/home/bg-home@2x.png');
    @include bgi;
    background-size: 100% auto;
    background-position: center em(680);
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    &--cover{
      background-image: url('../img/00-hero.png');
      background-repeat: no-repeat;
      background-position: em(110) em(20);
      background-size: 90%;
      z-index: -2;
      opacity: 0;
    }
  }
  .services-bg{
    background-position: center em(800);
    &:before{
      top: 0;
      background-image: url('../img/bg-header-solutions@2x.png');
      background-position: center top;
    }
  }
}
