.demos {
	background: url('../img/bg-demos@2x.png') no-repeat;
	background-size: 100%;
	background-position: center;
	max-width: em(1120);
	margin: em(50) auto 0;
	&__title{
		padding-bottom: 0;
		margin: 0 0 em(75, 30);
	}
	.swiper-container--demos{
		padding: 0 em(140) em(100);
	}
	.swipper-demos__wrapper{
		display: flex;
		justify-content: space-around;
	}
	.demos-slide{
		width: em(245);
		&:hover{
			background: c('blue-alt');
		}
		a{
			padding: em(44) em(50) em(30);
		}
		&__title{
			font-size: em(20);
		}
		&__link{
			font-size: em(10);
		}
	}
	&--page{
		margin-top: 0;
		margin-bottom: em(90);
		background: none;
		position: relative;
    	z-index: 2;
		&__title{
			padding-top: em(65);
			&:after{
				display: none;
			}
		}
		.swiper-container--demos{
			padding: 0 em(140) em(72);
		}
		&__content{
			padding: 0 em(160) 0;
		}
		&__arrow-slide{
			position: relative;
			width: 100%;
			height: 2px;
			background-color: c('grey-light-line');
		}
		&__text{
			position: relative;
			text-align: center;
			p{
				@include font('quick');
				font-size: em(16);
				line-height: em(25);
				color: c('grey-dark-text');
				padding: em(30) em(75);
				opacity: 0;
				transition: opacity .6s ease-in;
				&.switch-text{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}
				&.active-text{
					opacity: 1;
				}
			}
		}
		.active-slide{
			background: c('blue-alt');
		}
		.control-arrow{
			position: absolute;
			left: 15%;
			bottom: em(25);
			width: em(24);
			height: em(16);
			margin-left: em(-12);
			background: url('../img/arrow-demos.svg') center no-repeat;
			background-size: contain;
			transition: left .6s ease-in;
		}
	}
}
