.demos {
	&__title{
		font-size: em(30);
		line-height: em(40, 30);
		font-weight: 400;
		text-align: center;
		margin: 0 0 em(60, 30);
		padding: 0 em(30, 30) em(30, 30);
	}
	.swiper-container--demos{
		width: 100%;
		position: relative;
		padding-bottom: em(60);
	}
	.demos-slide{
		width: 45.3vw;
		border-radius: 15px;
		background: c('blue');
		box-shadow: 0 17px 37px rgba(0, 0, 0, 0.22);
		background-image: linear-gradient(-9deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
		text-align: center;
		transition: background .3s ease-in;
		a{
			display: block;
			padding: em(38) em(42) em(30);
		}
		&__image{
			min-height: em(50);
			margin-bottom: em(10);
		}
		&__title{
			font-size: em(15);
			color: c('white');
			line-height: em(15, 15);
			font-weight: 700;
		}
		&__link{
			color: c('white');
			text-transform: uppercase;
			font-size: em(7);
			color: c('white');
			font-weight: 500;
			line-height: em(20, 7);
			letter-spacing: em(2, 7);
			transition: opacity .3s ease;
			&:hover{
				opacity: .6;
			}
		}
	}
	.swiper-pagination--demos {
		bottom: em(20) !important;
		.swiper-pagination-bullet{
			width: 7px;
			height: 7px;
			margin: 0 5px;
		}
		.swiper-pagination-bullet-active{
			background: c('blue');
		}
	}
	&--page{
		&__title-mobile{
			font-size: em(30);
			padding: em(20) em(25) em(10);
		}
	}
}

@include xsmall {
  @import 'xsmall';
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
