.legal {
	padding: em(125) em(140) em(130);
	&__title{
		padding: em(10, 30) em(0) em(35, 30);
		font-size: em(48);
		line-height: em(47, 30);
	}
	&__text{
		a{
			transition: opacity .3s ease;
			&:hover{
				opacity: .6;
			}
		}
		.text-section{
			h2{
				font-size: em(16);
			}
		}
	}
}
