.legal {
	padding: em(125) em(50, 30) em(45);
	&__title{
		padding: em(40, 30) 0 em(30, 30);
		font-size: em(30);
		line-height: em(37, 30);
		text-align: center;
	}
	&__text{
		p{
			color: c('grey-dark-text');
			font-size: em(15);
			line-height: em(28);
			margin-bottom: em(30);
			&.last-paragraph{
				margin-top: em(80);
			}
		}
		strong{
			@include font('quick', 'bold');
		}
		.text-section{
			list-style: none;
			margin-bottom: em(30);
			h2{
				@include font('quick', 'bold');
				font-size: em(15);
				color: c('grey-dark-text');
				margin-bottom: em(10);
			}
			h3{
				@include font('quick', 'bold');
				color: c('grey-dark-text');
				font-size: em(15);
				margin-top: em(30);
				margin-bottom: em(5);
			}
			p{
				margin-bottom: 0;
			}
			.tab-text{
				padding-left: em(25);
			}
		}
		a{
			@include font('quick', 'bold');
			color: c('blue');
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
