.conectividad {
	padding: 0;
	margin-bottom: em(160);
	&__items{
		max-width: em(810);
		margin: em(45) auto 0;
	}
	&__item{
		width: em(180);
		padding-left: em(40);
		background-position: em(15) center;
	}
}
