.conectividad {
	padding: 0 em(20);
	&__title{
		font-size: em(30);
		line-height: em(40, 30);
		font-weight: 400;
		text-align: center;
		margin: 0;
		padding: 0 em(30, 30) em(10);
	}
	&__items{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: em(45);
	}
	&__item{
		width: em(160);
		@include font('quick', 'bold');
		font-size: em(16);
		letter-spacing: .5px;
		padding: em(10) 0 em(10) em(32);
		background-color: c('grey-light-line');
		margin-bottom: em(20);
		border-radius: 5px;
		background-image: url('../img/check.svg');
		background-size: em(22) em(18);
		background-repeat: no-repeat;
		background-position: em(5) center;
	}
	.subtitle:after{
		bottom: 0;
	}
}

@include medium {
  @import 'medium';
}

@include large {
  @import 'large';
}

@include xlarge {
  @import 'xlarge';
}
