.home-cards {
	margin-bottom: em(-160);
	position: relative;
	z-index: 2;
	&__title {
		position: relative;
		text-align: center;
		font-weight: 400;
		font-size: em(30);
		padding: 0 em(20, 30);
		line-height: 1.3;
		&:after {
			display: block;
			content: '';
			width: em(36.5, 30);
			height: 2px;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			background: c('black');
			border-radius: em(1, 30);
			bottom: em(-25, 30);
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
