.video {
  padding-top: em(530);
  position: relative;
  z-index: 1;
  margin: em(-450) 0 0;
	&__background {
    padding-top: 0;
    background: none;
		&:before {
      height: em(185);
      background-size: 100%;
      background-position: top;
      top: 0;
      z-index: 1;
      background-image: url(../img/plataforma-mascara-A@2x.png);
    }
		&:after {
      height: em(185);
      background-size: 100%;
      background-position: bottom;
      bottom: em(-2);
      z-index: 1;
      background-image: url(../img/plataforma-mascara-B@2x.png);
    }
	}
  video{
    display: block;
  }
  &__video {
    display: block;
    bottom: 1px;
  }
	&__title {
    position: relative;
    &:after {
      content: '';
      width: em(37.5, 30);
      height: em(2, 30);
      position: absolute;
      @include xCenter;
      bottom: em(-20, 30);
      background-color: c('white');
    }
  }
	&__content {
    padding-bottom: em(60);
	}
  &--plataforma{
    margin-top: em(-360) !important;
  }
  &--services{
    padding-top: em(150);
    padding-bottom: em(185) !important;
    &__background{
      z-index: 0;
    }
    &__title{
        font-size: em(30);
        padding-top: em(35);
        max-width: em(350);
        margin: 0 auto em(15);
        &:after{
          width: em(20);
          margin: em(15) auto 0;
        }
    }
    .swiper-container{
      overflow: visible;
    }
    .swiper-pagination--testimonials-services{
      display: block;
      bottom: em(-40) !important;
    }
  }
  &--empresa{
    &__background{
      z-index: -1;
    }
  }
  &--clients-about{
    padding-top: em(150);
    padding-bottom: em(185) !important;
    &__title {
      max-width: em(670, 30);
      @include xCenter;
    }
    &__clients {
      max-width: em(870);
      padding: 0;
      @include xCenter;
      display: flex;
      justify-content: space-around;
    }
    &__client {
      margin-bottom: em(40);
      opacity: 1;
      transition: 200ms ease opacity;
      &:hover {
        content: '';
        opacity: 0.6;
        transition: 200ms ease opacity;
      }
    }
  }
}
