.video {
	position: relative;
	padding: em(95) 0 em(115);
	margin-bottom: em(20);
	&__background {
		width: 100%;
		height: 100%;
		z-index: -1;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		background-image: url(../img/bg-estrellas-mobile.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		&:before {
			content: '';
			background-image: url(../img/mascara-A-mobile.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			display: block;
			height: em(95);
		}
		&:after {
			content: '';
			background-image: url(../img/mascara-B-mobile.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			display: block;
			height: em(100);
		}
	}
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		display: none;
	}
	&__title {
		text-align: center;
		font-weight: 400;
		color: c('white');
		font-size: em(30);
		padding: 0 em(20, 30);
		line-height: 1.3;
	}
	&--services{
	    margin-top: 0 !important;
	    &__title{
	    	position: relative;
	    	color: c('white');
	    	text-align: center;
	    	padding: em(40) em(25) 0;
	    	&:after{
	    		content: '';
	    		display: block;
	    		width: em(40);
	    		height: 2px;
	    		background: c('white');
	    		margin: em(20) auto 0;
	    	}
	    }
	}
	&--clients-about{
		&__title {
			position: relative;
			margin-top: em(90, 30);
			padding: 0 em(30, 30);
			text-align: center;
			font-weight: 400;
			color: c('white');
			font-size: em(30);
			line-height: 1.3;
			&:after {
				display: block;
				content: '';
				width: em(36.5, 30);
				height: 2px;
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				background: c('white');
				border-radius: em(1, 30);
				bottom: em(-25, 30);
			}
		}
		&__clients {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: em(75);
			padding: 0 em(30);
		}
		&__client {
			display: block;
			margin-bottom: em(25);
		}
		&__image {
			height: em(45);
		}
	}
}


@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
