.login {
	&__title{
		padding: em(40,30) 0 em(16,30);
		font-size: em(30);
		line-height: em(40, 30);
		font-weight: 700;
		margin-bottom: 0;
	}
	&__container {
		margin-top: em(15);
	}
	&__form{
		margin: 0 auto;
		position: relative;
		width: em(485);
		.form{
			padding: em(35) em(25) em(30);
			&__input{
				width: 97%;
				margin-bottom: em(18);	
			}
			&__forget-password{
				margin-top: em(5);
				margin-bottom: em(30);
				a{
					transition: opacity .3s ease;
					&:hover{
						opacity: .6;
					}
				}
			}
		}
	}
	&--page{
		padding-bottom: 0;
		max-width: em(915);
		@include xCenter;
		margin-bottom: em(90);
	}
}
