.login {
	&__title{
		padding: em(40, 30) em(44, 30) em(12, 30);
		font-size: em(30);
		line-height: em(40, 30);
		text-align: center;
		position: relative;
		&:after{
			content: '';
			display: block;
			width: 110px;
			height: 3px;
			border-radius: 20%;
			background-color: #f6f9fa;
			background-image: linear-gradient(to left, #006dff 0%, #43d2f1 100%);
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	&__form{
		background: c('white');
		border-radius: 15px;
		box-shadow: 5px 8px 98px rgba(0, 0, 0, 0.2);
		.form{
			padding: em(45) em(35) em(30);
			&__input{
				margin-bottom: em(15);	
			}
			&__forget-password{
				text-align: center;
				margin-top: em(15);
				margin-bottom: em(35);
				a{
					@include font('quick', 'medium');
					font-size: em(13);
					line-height: em(23);
					color: c('blue');
				}
			}
		}
	}
	&--page{
		padding-top: em(140);
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
