@include edge {
	.landing-footer__top{
		width: 23vw;
	}
	.landing-rates__background{
		width: 100%;
		height: 340px;
		overflow: hidden;
		video{
		  position: absolute;
		  top: 50%; 
		  left: 50%;
		  -webkit-transform: translateX(-50%) translateY(-50%);
		  transform: translateX(-50%) translateY(-50%);
		  min-width: 100%; 
		  min-height: 100%; 
		  width: auto; 
		  height: auto;
		  z-index: -1000; 
		  overflow: hidden;
		}
	}
	.info-developers{
		overflow: hidden;
	}
	.info-developers__background{
		video{
	      width: auto;
	      height: auto;
	      min-width: 100%;
	      min-height: 100%;
	      top: 50%;
	      left: 50%;
	      transform: translateX(-50%) translateY(-50%);
	      bottom: auto;
	      right: auto;
	    }
	}
	.testimonials{
	    video{
	      width: auto;
	      height: auto;
	      min-width: 100%;
	      min-height: 100%;
	      top: 50%;
	      left: 50%;
	      transform: translateX(-50%) translateY(-50%);
	    }
	}
}
