@include explorer {
  .gridblog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
      width: 30%;
    }
  }
  .post__header:after {

  }
  .header__logo {
    height: em(100);
    width: em(257);
  }
  .filters__target {
    background-size: 15px 15px;
  }
  .post__header:after {
    background-image: url(../img/curva.png);
  }
  .landing-footer__top{
    width: 23vw;
  }
  .landing-rates__background{
    width: 100%;
    height: 340px;
    overflow: hidden;
    video{
      position: absolute;
      top: 50%; 
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      min-width: 100%; 
      min-height: 100%; 
      width: auto; 
      height: auto;
      z-index: -1000; 
      overflow: hidden;
    }
  }
  .cover--home__image{
    width: 100%;
  }
  .navigation__submenu--col{
      width: em(472);
  }
  .navigation__linksubmenu--col{
    flex: auto;
  }
  .info-developers{
    overflow: hidden;
  }
  .info-developers__background{
    video{
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        bottom: auto;
        right: auto;
      }
  }
  .testimonials{
    video{
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  .home-rates__clients{
    max-width: 740px;
    justify-content: space-between;
  }
  .home-rates__client{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-rates__client img{
    max-width: none;
    width: auto;
  }
  .cover__pre-title{
    background-image: none;
    color: c('blue');
  }
  .cards-solutions-container .cards .swiper-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    .cards__item{
      width: 33%;
      margin-bottom: em(25);
      min-height: 380px;
    }
  }
  .swiper-container--services-cards .swiper-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    .cards__item{
      width: 33%;
      margin-bottom: em(25);
      min-height: 450px;
    }
  }
  .cards--services-02 .swiper-wrapper{
    .cards__item{
      width: 50%;
    }
  }
}
