.landing-contact {
	max-width: 31vw;
	padding: 0;
	margin: em(70) auto;
	h3{
		margin-bottom: em(4);
	}
	p{
		font-size: em(20);
		line-height: em(24);
	}
	&__ctas{
		.cta{
			display: inline-block;
			margin: 0 em(5);
			cursor: pointer;
			button{
				padding: em(23) 0px em(24);
				cursor: pointer;
				transition: all ease .3s;
			}
			&:hover{
				button{
					opacity: .6;
				}
			}
		}
	}
}