.landing-contact {
	text-align: center;
	padding: em(29);
	h3{
		@include font('quick', 'bold');
		font-size: em(30);
		line-height: em(22);
		color: c('black');
		margin-bottom: em(5);
	}
	p{
		font-size: em(20);
		line-height: em(24);
		margin-bottom: em(40);
		span{
			@include font('quick', 'bold');
		}
	}
	&__ctas{
		position: absolute;
		width:100%;
		left: 0;
		top: auto;
		z-index: 2;
		.cta{
			margin-bottom: em(14);
			button{
				text-transform: uppercase;
				text-align: center;
				margin: 0 auto;
				border: none;
				background: none;
				-webkit-appearance: none;
			}
			&--white{
				button, a{
					color: c('blue');
				}
			}
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
