.filters {
	position: relative;
	padding-right: 16px;
	padding-left: 18px;
	&__target{
		@include font('quick', medium);
		font-size: em(19);
		color: c('grey');
		padding-left: 10px;
		padding-right: 25px;
		background-image: url('../img/filter.svg');
		background-size: 15px;
		background-position: right center;
		background-repeat: no-repeat;
		display: block;
    	text-align: right;
	}
	&__items{
		position:absolute;
		right: -5px;
		margin-top: 7px;
		width: 193px;
		background-color: c('blue-dark');
		border-radius: 10px;
		visibility: hidden;
		opacity: 0;
		transition: all .3s ease-in;
		z-index: 1;
		&:before{
			content: '';
			display: block;
			width: 20px;
			height: 14px;
			background-image: url('../img/filter_arrow@2x.png');
			background-size: contain;
			position: absolute;
			right: 53px;
			top: -7px;
		}
		&.visible{
			visibility: visible;
			opacity: 1;
		}
	}
	&__item{
		position: relative;
		display: block;
		color: c('white');
		padding: 14px 0px 14px 46px;
		background-image: url('../img/tick.svg');
		background-size: 11px 8px;
		background-position:  25px center;
		background-repeat: no-repeat;
		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 18px;
			width: 157px;
			height: 1px;
			background-color: c('white');
			opacity: 0.1;
		}
		&:hover{
			background-color: rgba(255,255,255,.1);
			&:after{
				width: 100%;
				left: 0;
			}
		}
		&:first-child{
			padding-top: 24px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			background-position:  25px 60%;
		}
		&:last-child{
			padding-bottom: 24px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			background-position:  25px 40%;
			&:after{
				display: none;
			}
		}
	}
	&:before{
		content: '';
		display: block;
		width: 1px;
		height: 100%;
		background-color: c('grey-superlight');
		position: absolute;
	    left: 0;
	    top: 0;
	}
	&:hover{
		.filters__items{
			visibility: visible;
			opacity: 1;
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
