.developers {
	&__outer{
		padding: em(155) em(160) 0;
		display: flex;
	}
	&__menu{
		display: block;
		width: em(800);
	}
	&__menu-item{
		padding-left: em(65);
		font-size: em(15);
		&--04, &--05, &--06{
			background-position: em(20) em(3);
		}
		a{
			transition: color .3s ease;
		}
		a:hover{
			color: c('blue');
		}
	}
	&__content{
		padding-left: em(70);

	}
	&__textBlock{
		padding-left: 0;
		.subtitle{
			padding-right: em(100);
			margin-bottom: em(25);
		}
	}
	&__list{
		&--cols{
			max-width: em(480);
		}
		a{
			transition: opacity .4s ease;
		}
		a:hover{
			opacity: .6;
		}
	}
}
