.developers {
	&__title{
		padding: em(20) em(25) 0;
		text-align: left;
		font-size: em(30);
		margin-bottom: em(10);
	}
	.cta{
		position: relative;
		width: auto;
		@include font('quick', 'bold');
		font-size: em(16);
		color: c('white');
		margin-left: em(50);
		text-transform: none;
		padding: em(8) em(20) em(8) em(52);
		cursor: pointer;
		border: none;
	}
	&__outer{
		padding: em(25) em(30);
	}
	.hamburger-box{
		display: block;
	}
	.hamburger--dev{
		position: absolute;
		left: em(17);
		top: 50%;
		transform: translateY(-50%);
	}
	.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
		background-color: c('white');
		width: 24px;
	}
	.hamburger--spring.is-active .hamburger-inner:before, .hamburger--spring.is-active .hamburger-inner:after{
		top: -2px;
	}
	.hamburger--spring .hamburger-inner:before{
		top: 7px;
	}
	.hamburger--spring .hamburger-inner:after{
		top: 14px;
	}
	&__menu, &__submenu{
		display: none;
	}
	&__menu-item{
		list-style: none;
		padding-left: em(65);
		padding-top: em(5);
		padding-bottom: em(25);
		@include font('quick', 'medium');
		font-size: em(20);
		color: c('black');
		background-repeat: no-repeat;
		background-position: em(20) em(2);
		background-size: em(23);
		a{
			@include font('quick', 'medium');
			color: c('black');
		}
		&--active{
			@include font('quick', 'bold');
			color: c('blue');
			a{
				@include font('quick', 'bold');
				color: c('blue');
			}
		}
		&--has-child{
			ul{
				position: relative;
				margin-top: em(10);
				padding-top: em(10);
				padding-bottom: em(10);
				&:before{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: em(-35);
					width: 1px;
					height: 100%;
					background-color: c('grey-light-line');
				}
			}
			li{
				font-size: em(14);
				padding: em(8) 0 em(10) em(12);
				&:last-child{
					padding-bottom: 0;
				}
			}
		}
		&--01{
			background-image: url('../img/dev-icon-1.svg');
		}
		&--02{
			background-image: url('../img/dev-icon-2.svg');
		}
		&--03{
			background-image: url('../img/dev-icon-3.svg');
		}
		&--04{
			background-image: url('../img/dev-icon-4.svg');
			background-position: em(20) em(5);
			background-size: em(20);
		}
		&--05{
			background-image: url('../img/dev-icon-5.svg');
			background-position: em(20) em(5);
			background-size: em(20);
		}
		&--06{
			background-image: url('../img/dev-icon-6.svg');
			background-position: em(20) em(12);
		}
		&--07{
			background-image: url('../img/dev-icon-7.svg');
			background-position: em(20) em(5);
			background-size: em(20);
		}
		&--08{
			background-image: url('../img/dev-icon-8.svg');
		}
	}
	&__textBlock{
		padding: 0 em(20);
		margin-bottom: em(60);
		.subtitle{
			font-size: em(26);
			line-height: em(20);
			margin-bottom: em(30);
		}
		.text{
			font-size: em(15);
			line-height: em(30);
			color: c('grey-dark-text');
			margin-bottom: em(30);
		}
	}
	&__list{
		margin-bottom: em(65);
		&--cols{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li{
				width: 50%;
				padding-bottom: em(10);
			}
		}
	}
	&__item-link{
		list-style: none;
		font-size: em(15);
		a{
			color: c('blue');
			@include font('quick', 'bold');
			text-decoration: underline;
		}
	}
}

@include medium {
  @import 'medium';
}

@include large {
  @import 'large';
}

@include xlarge {
  @import 'xlarge';
}
