* {
}

body,
html {
}

html {
  font-size: (100/1280) * 16 * 1vw;
}

body {
  padding-top: 0;
  font-size: 1em;
  position: relative;
}
main {
}
a {
}
img {
}
.page-wrapper{
  padding-top: 0;
  background-image: url('../img/bg-bottom.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
  &__background{
  	&--top{
  		z-index: -99999;
  	}
  }
  &--landing{
  	padding-top: 0;
    background: none;
  }
  &--layout2{
    background-size: 100%;
    background-position: center 70%;
    &__header-background{
      position: absolute;
      background-size: 100% auto;
      background-position: center bottom;
      background-image: none;
    }
  }
  &--home{
    background-image: none;
    position: relative;
    &__header{
      background-image: url('../img/01-hero@2x.png');
    }
  }
  &--tarifas-page{
    background-image: url('../img/bg-tarifas-page@2x.png');
    background-position: center 66%;
    background-repeat: no-repeat;
    &__header{
      background-image: url('../img/bg-header-tarifas@2x.png');
      background-position: top;
    }
  }
  &--thankyou-page{
    background-image: url('../img/bg-thankyou-page@2x.png');
    background-position: center 94%;
    background-repeat: no-repeat;
    &__header{
      background-image: url('../img/bg-header-thankyou@2x.png');
      background-position: top;
    }
  }
  &--error-page{
    background-image: url('../img/bg-thankyou-page@2x.png');
    background-position: center 94%;
    background-repeat: no-repeat;
    &__header{
      background-image: url('../img/bg-header-thankyou@2x.png');
      background-position: top;
    }
  }
  &--contact-page{
    background-image: url('../img/bg-contact-page@2x.png');
    background-position: center 88%;
    background-repeat: no-repeat;
    &__header{
      background-position: center top;
      background-image: url('../img/bg-header-contact@2x.png');
    }
  }
  &--solutions-page{
    background-image: none;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center em(695);
      z-index: 2;
      pointer-events: none;
      padding-bottom: em(90);
    }
    &__header{
      background-image: url('../img/bg-header-solutions@2x.png');
      background-position: center top;
    }
    &--01{
      &:before{
        background-image: url('../img/bg-pagina-soluciones@2x.png');
      }
    }
    &--02{
      &:before{
        background-image: url('../img/03-02-Paycomet-Soluciones-Marketplace-BG@2x.png');
      }
    }
    &--03{
      &:before{
        background-image: url('../img/03-03-Paycomet-Soluciones-Escrow-BG@2x.png');
      }
    }
    &--04{
      &:before{
        background-image: url('../img/03-04-Paycomet-Soluciones-Proxy-Reservas-Hotel-BG@2x.png');
        background-position: center em(670);
      }
    }
    &--05{
      &:before{
        background-image: url('../img/03-05-Paycomet-Soluciones-IVR-BG@2x.png');
      }
    }
    &--06{
      &:before{
        background-image: url('../img/03-06-Paycomet-Soluciones-TPV-Fisico-BG@2x.png');
      }
    }
    &--07{
      &:before{
        background-image: url('../img/03-07-Paycomet-Soluciones-PaybyCall-BG@2x.png');
      }
    }
    &--08{
      &:before{
        background-image: url('../img/03-08-Paycomet-Soluciones-Payby-BG@2x.png');
      }
    }
  }
  &--distributiva-solutions{
    position: relative;
    background-image: url('../img/03-00-Paycomet-Soluciones-BG@2x.png');
    background-position: center top;
  }
  &--distributiva-services{
    position: relative;
    background-image: url('../img/04-00-Paycomet-Servicios-BG@2x.png');
    background-position: center top;
  }
  &--distributiva-plataforma{
    position: relative;
    background-image: url('../img/02-00-Paycomet-Plataforma-BG@2x.png');
    background-position: center top;
  }
  &--plataforma{
    background-image: none;
    position: relative;
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: 100%;
      background-position: center em(320);
      background-repeat: no-repeat;
      pointer-events: none;
      padding-bottom: em(90);
    }
    &__header{
      background-image: url('../img/bg-header-solutions@2x.png');
      background-position: center top;
    }
  }
  &--plataforma-01{
    &:before{
      background-image: url('../img/02-01-Paycomet-Plataforma-Online-BG@2x.png');
    }
  }
  &--plataforma-02{
    &:before{
      background-image: url('../img/02-02-Paycomet-Plataforma-Telefonica-BG@2x.png');
    }
  }
  &--plataforma-03{
    &:before{
      background-image: url('../img/02-03-Paycomet-Plataforma-Presencial-BG@2x.png');
    }
  }
  &--plataforma-04{
    &:before{
      background-image: url('../img/02-04-Paycomet-Plataforma-Omnicanal-BG@2x.png');
    }
  }
  &--services{
    background-image: none;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center em(695);
      padding-bottom: em(90);
      pointer-events: none;
      z-index: 2;
    }
  }
  &--services-01{
    &:before{
      background-image: url('../img/04-01-Paycomet-Servicios-Tokenizacion-BG@2x.png');
    }
  }
  &--services-02{
    &:before{
      background-image: url('../img/04-03-Paycomet-Servicios-Suscripciones-BG@2x.png');
    }
  }
  &--services-03{
    &:before{
      background-image: url('../img/04-02-Paycomet-Servicios-Fraude-BG@2x.png');
    }
  }
  &--services-04{
    &:before{
      background-image: url('../img/04-04-Paycomet-Servicios-Medios-de-Pago-BG@2x.png');
    }
  }
  &--services-05{
    &:before{
      background-image: url('../img/04-05-Paycomet-Servicios-Soporte-BG@2x.png');
    }
  }
  &--empresa{
    background-image: none;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url('../img/06-Paycomet-Conocenos-BG@2x.png');
      background-position: center top;
      padding-bottom: em(90);
      pointer-events: none;
      z-index: 2;
    }
  }
  &--demos{
    background-image: none;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url('../img/07-02-Paycomet-Demos-BG@2x.png');
      background-position: center top;
      padding-bottom: em(90);
      pointer-events: none;
      z-index: 2;
    }
  }
  &--developers{
    background-image: url('../img/07-01-Paycomet-Developers-BG@2x.png');
    background-position: center em(250);
    padding-bottom: em(90);
  }
  &--login-page{
      background-image: none;
     &__header{
       background-image: url('../img/08-Paycomet-Login-BG@2x.png');
     }
  }
}
.outer{
  max-width: em(915);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.inner{
  padding: 0 4.68vw;
}
