* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
  -webkit-overflow-scrolling: touch;
  @include font('quick');
}

body,
html {
}

html {
  font-size: (100/375) * 16 * 1vw;
}

body {
}
main {
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
.page-wrapper{
  padding-top: em(100);
  transition: opacity 1s ease;
  background-repeat:no-repeat;
  z-index: 1;
  min-height: 50vh;
  &--post{
    padding-top: 0;
  }
  &--empty {
    position: relative;
    z-index: 2;
    .page-wrapper__background--top {
      height: 100%;
      overflow: hidden;
    }
  }
  &__background{
    &--top{
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
    }
  }
  &--inactive{
    opacity: 0;
  }
  &--landing{
  	padding-top: 0;
  }
  &--layout2{
    position: relative;
    padding-top: 0;
    background-size: 100%;
    &__header-background{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: none;
      background-size: 100%;
      background-position: center top;
      background-repeat: no-repeat;
    }
  }
  &--home{
    padding-top: 0;
    background-size: 100%;
    &__header{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-size: 100%;
      background-position: center top;
      background-repeat: no-repeat;
    }
  }
  &--tarifas-page{
    background-position: center;
    &__header{
      background-image: url('../img/bg-header-tarifas-mobile.png');
    }
  }
  &--thankyou-page{
    background-position: center 55%;
    &__header{
      background-image: url('../img/bg-header-thankyou-mobile.png');
    }
  }
  &--error-page{
    background-position: center 55%;
    &__header{
      background-image: url('../img/bg-header-thankyou-mobile.png');
    }
  }
  &--solutions-page{
    background-size: 100%;
    &__header{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: url('../img/bg-header-solutions-mobile.png');
      background-size: 100%;
      background-position: center top;
      background-repeat: no-repeat;
    }
  }
  &--login-page{
     &__header{
       background-image: none;
     }
  }
  &--distributiva-services{
    background-size: 100%;
  }
  &--distributiva-plataforma{
    background-size: 100%;
  }
  &--plataforma{
    background-size: 100%;
    padding-top: 0;
    &__header{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: url('../img/bg-header-solutions-mobile.png');
      background-size: 100%;
      background-position: center top;
      background-repeat: no-repeat;
    }
  }
  &--empresa{
    background-size: 100%;
  }
  &--demos{
    background-size: 100%;
  }
  &--developers{
    background-size: 100%;
  }
}
.outer{
  margin: 0 em(30);
  &--half{
    margin: 0 em(15);
  }
}
.inner{
  padding: 0;
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
