* {
}

body,
html {
}

html {
   //font-size: (100/1600) * 16 * 1vw;
}

body {
  font-size: 20px;
}
main {
}
a {
}
img {
}
.page-wrapper{
    &--plataforma-01{
	    &:before{
	      background-image: url('../img/02-01-Paycomet-Plataforma-Online-BG@2x-1600.png');
	    }
 	}
	&--plataforma-02{
		&:before{
		  background-image: url('../img/02-02-Paycomet-Plataforma-Telefonica-BG@2x-1600.png');
		}
	}
	&--plataforma-03{
		&:before{
		  background-image: url('../img/02-03-Paycomet-Plataforma-Presencial-BG@2x-1600.png');
		}
	}
	&--plataforma-04{
		&:before{
		  background-image: url('../img/02-04-Paycomet-Plataforma-Omnicanal-BG@2x-1600.png');
		}
	}
	&--solutions-page{
		&--01{
	      &:before{
	        background-image: url('../img/bg-pagina-soluciones@2x-1600.png');
	      }
	    }
	    &--02{
	      &:before{
	        background-image: url('../img/03-02-Paycomet-Soluciones-Marketplace-BG@2x-1600.png');
	      }
	    }
	    &--03{
	      &:before{
	        background-image: url('../img/03-03-Paycomet-Soluciones-Escrow-BG@2x-1600.png');
	      }
	    }
	    &--04{
	      &:before{
	        background-image: url('../img/03-04-Paycomet-Soluciones-Proxy-Reservas-Hotel-BG@2x-1600.png');
	      }
	    }
	    &--05{
	      &:before{
	        background-image: url('../img/03-05-Paycomet-Soluciones-IVR-BG@2x-1600.png');
	      }
	    }
	    &--06{
	      &:before{
	        background-image: url('../img/03-06-Paycomet-Soluciones-TPV-Fisico-BG@2x-1600.png');
	      }
	    }
	    &--07{
	      &:before{
	        background-image: url('../img/03-07-Paycomet-Soluciones-PaybyCall-BG@2x-1600.png');
	      }
	    }
	    &--08{
	      &:before{
	        background-image: url('../img/03-08-Paycomet-Soluciones-Payby-BG@2x-1600.png');
	      }
	    }
	}
	&--services-01{
		&:before{
	      background-image: url('../img/04-01-Paycomet-Servicios-Tokenizacion-BG@2x-1600.png');
	    }
	}
	&--services-02{
	    &:before{
	      background-image: url('../img/04-03-Paycomet-Servicios-Suscripciones-BG@2x-1600.png');
	    }
	}
	&--services-03{
	    &:before{
	      background-image: url('../img/04-02-Paycomet-Servicios-Fraude-BG@2x-1600.png');
	    }
	}
	&--services-04{
	    &:before{
	      background-image: url('../img/04-04-Paycomet-Servicios-Medios-de-Pago-BG@2x-1600.png');
	    }
	}
	&--services-05{
	    &:before{
	      background-image: url('../img/04-05-Paycomet-Servicios-Soporte-BG@2x-1600.png');
	    }
	}
	&--empresa{
		&:before{
	      background-image: url('../img/06-Paycomet-Conocenos-BG@2x-1600.png');
	    }
	}
	&--developers{
	    background-image: url('../img/07-01-Paycomet-Developers-BG@2x-1600.png');
	}
}
