.cover {
	margin-bottom: 45px;
	padding-bottom: 0;
    &__cta{
		display: none;
	}
	&__text{
		padding: em(195) em(0) em(160) em(178);
		h1{
			font-size: em(41);
			line-height: em(19);
			margin-bottom: em(12);
		}
		p{
			margin-bottom: em(10);
			max-width: 31%;
			font-size: em(15);
		}
		.arrow-down{
			display: block;
			width: 11px;
			height: 65px;
			background-image: url('../img/flecha.svg');
			background-size: 11px;
			background-repeat: no-repeat;
			background-position: center bottom;
			position: relative;
			padding: 45px 66px;
			cursor: pointer;
		}
	}
	&__ctas{
		display: flex;
		justify-content: normal;
		max-width: em(285);
		.cta{
			margin: 0 em(13) 0 0;
			width: em(120);
			&:first-child{
				margin-right: em(15);
			}
		}
	}
	&__cta-button{
		font-size: em(10);
		letter-spacing: em(.5);
		text-transform: uppercase;
		padding: em(12, 10) 0 !important;
	}
	&--home{
		align-items: normal;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: em(225);
		margin-bottom: 0;
		&__image{
			order: inherit;
			left: auto;
    		width: auto;
			picture{
				position: relative;
			}
		}
		&__title{
			font-size: em(40);
			line-height: em(21);
			font-weight: 400;
			margin-bottom: em(15, 30);
			max-width: em(420, 30);
		}
		&__text{
			padding-top: em(235);
			padding-bottom: em(25);
			.text{
				font-size: em(16);
				line-height: em(25);
				margin-bottom: em(25, 16);
				max-width: 80%;
			}
		}
		&__hero{
			&--left{
				left: em(-590);
				top: em(535);
				width: em(820);
			}
			&--center{
				left: em(585);
				top: em(550);
				width: em(320);
			}
			&--right{
				top: em(360);
				width: em(180);
			}
		}
	}
	&--contact{
		display: flex;
    	align-items: center;
		&__text{
			padding: 0;
			p{
				max-width: none;
				font-size: em(16);
				line-height: em(25, 16);
			}
		}
	}
	&--solutions{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 0;
		position: relative;
		&__pre-title{
			margin-bottom: em(15);
		}
		&__text{
			padding-top: em(145);
			h1{
				font-size: em(41);
				line-height: em(19);
				margin-bottom: em(5, 41);
				&.reservas{
					max-width: none;
					font-size: em(38);
				}
			}
			.text{
				max-width: em(380);
				margin-bottom: em(15, 16);
			}
		}
		&__image{
			position: relative;
			width: 55.5vw;
			padding-left: 0;
			align-self: start;
			background-image: none;
			&--01{
				.cover__decorative{
					background-image: url('../img/01-hero-tpv-virtual-bg@2x.png');
				}
    		}
    		&--02{
    			.cover__decorative{
					background-image: url('../img/02-hero-marketplace-bg@2x.png');
				}
    		}
    		&--03{
    			.cover__decorative{
					background-image: url('../img/03-hero-escrow-bg@2x.png');
				}
    		}
    		&--04{
    			.cover__decorative{
					background-image: url('../img/04-hero-reservas-bg@2x.png');
				}
    		}
    		&--05{
    			.cover__decorative{
					background-image: url('../img/05-hero-ivr-bg@2x.png');
				}
    		}
    		&--06{
    			.cover__decorative{
					background-image: url('../img/06-hero-tpv-fisico-bg@2x.png');
				}
    		}
    		&--07{
    			.cover__decorative{
					background-image: url('../img/07-hero-payby-call-bg@2x.png');
				}
    		}
    		&--08{
    			.cover__decorative{
					background-image: url('../img/08-hero-payby-bg@2x.png');
				}
    		}
    		picture.cover-solutions-icons{
    			display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				&--reservas{
					top: em(35);
				}
			}
		}
		&__decorative{
			position: absolute;
			width: 55.5vw;
			height: 100%;
			top: 0;
			right: 0;
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0;
		}
	}
	&--plataforma{
		&__text{
			padding-top: em(210);
		}
		&__image{
			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;
			width: 54vw;
		}
		&__hero{
			position: absolute;
			&--left{
				left: em(-590);
				top: em(535);
				width: em(820);
			}
			&--center{
				left: em(585);
				top: em(550);
				width: em(320);
			}
			&--right{
				top: em(360);
				right:0;
				width: em(180);
			}
		}
	}
	&--services{
		z-index: 1;
		&__text{
			padding-top: em(240);
			p{
				max-width: em(340);
			}
		}
		&__image{
			position: absolute;
			top: 0;
			right: 0;
			width: em(710);
			margin-top: 0;
		}
		&__decorative{
			position: absolute;
			top: 0;
			right: 0;
			width: em(710);
			height: 100%;
			margin-top: 0;
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0;
		}
	}
	&--services-01{
		.cover__decorative{
			background-image: url('../img/01-hero-tokenizacion-bg@2x.png');
		}
	}
	&--services-02{
		.cover__decorative{
			background-image: url('../img/03-hero-suscripciones-bg@2x.png');
		}
	}
	&--services-03{
		.cover__decorative{
			background-image: url('../img/02-hero-fraude-bg@2x.png');
		}
	}
	&--services-04{
		.cover__decorative{
			background-image: url('../img/04-hero-medios-bg@2x.png');
		}
	}
	&--services-05{
		.cover__decorative{
			background-image: url('../img/05-hero-soporte-bg@2x.png');
		}
	}
	&--empresa{
		padding: em(90) em(30);
		text-align: center;
		margin: 0 auto;
		max-width: em(750);
		&__title{
			font-size: em(41);
			line-height: em(20);
			margin-bottom: em(8);
		}
		&__text{
			padding: 0 em(10);
			p{
				max-width: none;
			}
		}
	}
}
//Animation Cover Home
.js-animate-el{
	opacity: 0;
}
