.cover {
	position: relative;
	padding-bottom: em(100);
	picture{
		position: absolute;
		z-index: -1;
	}
	&__cta{
		position: fixed;
		top: em(30);
		right: 15px;
		z-index: 10;
		button{
			text-align: center;
			text-transform: uppercase;
			-webkit-appearance: none;
			border: 0;
			border-radius: 50%;
		}
	}
	&__text{
		padding: em(138) em(49) em(50);
		h1{
			@include font('quick');
			font-size: em(30);
			color: c('black');
			margin-bottom: em(15);
			span{
				@include font('quick', 'bold');
			}
		}
		p{
			font-size: em(16);
			line-height: em(25);
			color: c('grey-dark-text');
		}
		.arrow-down{
			display: none;
		}
	}
	&__ctas{
		display: flex;
		justify-content: center;
		.cta{
			margin: em(8);
		}
	}
	&__cta-button{
		font-size: em(10);
		letter-spacing: em(.5);
		text-transform: uppercase;
		padding: em(12, 10) 0 !important;
	}
	&__pre-title{
		text-transform: uppercase;
		font-size: em(13);
		height: auto;
		margin-bottom: em(5, 13);
		color: #006dff;
		letter-spacing: em(2.5, 13);
		background-image: linear-gradient(to right,#43d2f1 0%, #006dff 15%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-box-decoration-break: clone;
	}
	&--home{
		display: flex;
		flex-direction: column;
		&__image{
			position: relative;
			order: -1;
			width: 100%;
    		z-index: 1;
			picture{
				position: relative;
			}
		}
		&__title{
			font-size: em(30);
			line-height: em(37, 30);
			font-weight: 400;
			margin-bottom: em(38, 48);
		}
		&__text{
			padding-top: em(40);
			padding-bottom: em(25);
			.text{
				font-size: em(16);
				line-height: em(26);
				margin-bottom: em(40, 16);
			}
		}
		&__hero{
			position: absolute;
			&--back{

			}
			&--left{
				left: em(-60);
				top: em(393);
				width: em(110);
			}
			&--center{
				left: em(-70);
				top: em(225);
				width: em(260);
				z-index: 1;
			}
			&--right{
				right: 0;
				top: em(175);
				width: em(120);
			}
		}
	}
	&--contact{
		padding-bottom: em(55);
	}
	&--solutions{
		padding-bottom: em(0);
		&__text{
			padding-top: em(140);
			padding-bottom: 0;
			h1{
				&.reservas{
					max-width: em(100);
				}
			}
			.text{
				font-size: em(16);
				line-height: em(25);
				margin-bottom: em(25, 16);
			}
		}
		&__title{
			font-size: em(30);
			font-weight: 400;
			margin-bottom: em(38, 48);
		}
		&__image{
    		width: 100%;
    		background: url('../img/cover-solutions-bg-mockup-mobile.png') no-repeat;
    		background-size: 100%;
    		background-repeat: no-repeat;
    		&--01{
    			background-image: url('../img/01-hero-tpv-virtual-bg.png');
    		}
    		&--02{
    			background-image: url('../img/02-hero-marketplace-bg.png');
    		}
    		&--03{
    			background-image: url('../img/03-hero-escrow-bg.png');
    		}
    		&--04{
    			background-image: url('../img/04-hero-reservas-bg.png');
    		}
    		&--05{
    			background-image: url('../img/05-hero-ivr-bg.png');
    		}
    		&--06{
    			background-image: url('../img/06-hero-tpv-fisico-bg.png');
    		}
    		&--07{
    			background-image: url('../img/07-hero-payby-call-bg.png');
    		}
    		&--08{
    			background-image: url('../img/08-hero-payby-bg.png');
    		}
    		picture{
    			position: relative;
    			display: block;
    			z-index: 0;
    		}
    		picture.cover-solutions-icons{
				display: none;
			}
		}
	}
	&--plataforma{
		padding-bottom: 0;
		&__text{
			padding-bottom: em(0);
			h1{
				margin-bottom: em(10);
			}
			.text{
				padding-bottom: em(20);
			}
		}
		&__image{
			text-align: center;
			picture{
				position: relative;
    			z-index: inherit;
			}
		}
	}
	&--services{
		padding-bottom: 0;
		&__text{
			padding-top: em(35);
			padding-bottom: em(0);
			h1{
				margin-bottom: em(5);
			}
			.text{
				padding-bottom: em(20);
			}
		}
		&__ctas{
			justify-content: start;
			.cta{
				margin: 0;
				max-width: em(130);
			}
		}
		&__image{
			margin-top: em(50);
			text-align: center;
			picture{
				position: relative;
    			z-index: inherit;
			}
		}
	}
	&--empresa{
		padding-bottom: em(40);
		&__title{
			padding: em(30) em(22) 0;
			margin-bottom: em(15);
		}
		&__text{
			padding: 0 em(45) em(20);
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
