.cover{
	&--home{
		&__text{
			padding-left: em(290);
		}
	}
	&--plataforma{
		&__text{
			padding-left: em(290);
		}
		&__image{
			width: 49vw;
		}
	}
	&--solutions{
		&__text{
			padding-left: em(290);
		}
	}
	&--services{
		&__text{
			padding-left: em(290);
		}
	}
}