.image-card {
  width: em(490);
	&__bg {
	}
	&__content {
    position: relative;
    height: em(270);
    transform: translate3d(0,#{em(160)},0);
    padding: em(55) em(35) 0;
    transition:200ms ease all;
    &:before {
      transition:200ms ease all;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
    }
	}
	&__title {
    margin-bottom: 15px;
	}
	&__text {
    display: block;
    transform: translate3d(0,#{em(50)},0);

		p {
      font-size: em(12);
      margin-bottom: em(10,12);
      color: c('white');
    }
	}
	&__featured {
    font-size: em(15);
    color: c('blue');
    font-weight: 700;
  }
}
.image-card:hover {
  .image-card {
    &__content {
      transform: translate3d(0,0,0);
      transition:200ms ease all;
      &:before {
        background-color: transparentize(c('black'), 0.5);
        transition:200ms ease all;
      }

    }
    &__text {
      transform: translate3d(0,0,0);
    }
  }
}

.home-business--plataforma{
  .image-card:hover {
    .image-card {
      &__content {
        transform: translate3d(0,#{em(160)},0);
        &:before{
          display: none;
        }
      }
    }
  }
}
