.image-card {
	position: relative;
	display: block;
	width: em(275);
	border-radius: em(12.5);
	overflow: hidden;
	box-shadow: 0 em(15) em(40) 0 rgba(0, 0, 0, 0.36);
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		@include bgi;
		border-radius: em(12.5);
	}
	&__content {
		border-radius: em(12.5);
		height: em(190);
		z-index: 1;
		padding: em(15);
		transform: translate3d(0,#{em(132.5)},0);
	}
	&__title {
		position: relative;
		font-size: em(24);
		@include font('quick', 'bold');
		color: c('white');
		margin-bottom: em(30,24);
	}
	&__text {
		position: relative;
		display: none;
		p {}
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: em(140);
		z-index: -1;
		background: rgba(76,76,76,0);
		background: -moz-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(89,89,89,0.09) 12%, rgba(102,102,102,0.19) 25%, rgba(71,71,71,0.29) 39%, rgba(17,17,17,0.45) 61%, rgba(43,43,43,0.56) 76%, rgba(43,43,43,0.74) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,0)), color-stop(12%, rgba(89,89,89,0.09)), color-stop(25%, rgba(102,102,102,0.19)), color-stop(39%, rgba(71,71,71,0.29)), color-stop(61%, rgba(17,17,17,0.45)), color-stop(76%, rgba(43,43,43,0.56)), color-stop(100%, rgba(43,43,43,0.74)));
		background: -webkit-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(89,89,89,0.09) 12%, rgba(102,102,102,0.19) 25%, rgba(71,71,71,0.29) 39%, rgba(17,17,17,0.45) 61%, rgba(43,43,43,0.56) 76%, rgba(43,43,43,0.74) 100%);
		background: -o-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(89,89,89,0.09) 12%, rgba(102,102,102,0.19) 25%, rgba(71,71,71,0.29) 39%, rgba(17,17,17,0.45) 61%, rgba(43,43,43,0.56) 76%, rgba(43,43,43,0.74) 100%);
		background: -ms-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(89,89,89,0.09) 12%, rgba(102,102,102,0.19) 25%, rgba(71,71,71,0.29) 39%, rgba(17,17,17,0.45) 61%, rgba(43,43,43,0.56) 76%, rgba(43,43,43,0.74) 100%);
		background: linear-gradient(to bottom, rgba(76,76,76,0) 0%, rgba(89,89,89,0.09) 12%, rgba(102,102,102,0.19) 25%, rgba(71,71,71,0.29) 39%, rgba(17,17,17,0.45) 61%, rgba(43,43,43,0.56) 76%, rgba(43,43,43,0.74) 100%);
	}
}

@include medium {
  @import 'medium';
}

@include large {
  @import 'large';
}

@include xlarge {
  @import 'xlarge';
}
