.dropdowns{
	&__item{
		padding: em(24) 0 em(19) em(34);
	}
	&__title{
		&:after{
			width: em(13);
			height: em(13);
			background-size: em(13, 19);
		}
		&:before{
			left: em(-30);
		}
		&--custom{
			&:before{
				width: em(14);
			}
		}
	}
	&__content{

	}
}
