.dropdowns{
	&__item{
		padding: em(22) 0 em(19) em(26);
		border-bottom: 1px solid c('grey-light-line');
		border-radius: 1px;
		cursor: pointer;
		background-size: auto em(19);
		background-repeat: no-repeat;
		background-position: left center;
		&:last-child{
			border-bottom: 0;
		}
		&.open{
			.dropdowns__title{
				&:after{
					transform-origin: center;
					transform: rotate(-45deg);
				}
			}
		}
	}
	&__title{
		position: relative;
		@include font('quick', 'bold');
		font-size: em(19);
		line-height: em(17);
		padding-right: em(15);
		&:after{
			display: inline-block;
			content: '';
			width: em(10);
			height: em(10);
			background: url('../img/cruz_grey.svg') center no-repeat;
			background-size: contain;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			transition: all ease .3s;
		}
		&:before{
			display: inline-block;
			content: '';
			width: em(19);
			height: auto;
			position: absolute;
			left: em(-22);
			top: 0;
			bottom: 0;
			margin: auto;
			background-repeat: no-repeat;
			background-position: left top;
		}
		&--tpv-01{
			&:before{
				background-image: url('../img/icono-01-04.svg');
			}
		}
		&--tpv-02{
			&:before{
				background-image: url('../img/icono-01-02.svg');
			}
		}
		&--tpv-03{
			&:before{
				background-image: url('../img/icono-01-01.svg');
			}
		}
		&--tpv-04{
			&:before{
				background-image: url('../img/icono-01-03.svg');
			}
		}
		&--market-01{
			&:before{
				background-image: url('../img/icono-02-01.svg');
			}
		}
		&--market-02{
			&:before{
				background-image: url('../img/icono-02-02.svg');
			}
		}
		&--market-03{
			&:before{
				background-image: url('../img/icono-02-03.svg');
			}
		}
		&--market-04{
			&:before{
				background-image: url('../img/icono-02-04.svg');
			}
		}
		&--market-05{
			&:before{
				background-image: url('../img/icono-02-05.svg');
			}
		}
		&--escrow-01{
			&:before{
				background-image: url('../img/icono-03-01.svg');
			}
		}
		&--escrow-02{
			&:before{
				background-image: url('../img/icono-03-02.svg');
			}
		}
		&--escrow-03{
			&:before{
				background-image: url('../img/icono-03-03.svg');
			}
		}
		&--escrow-04{
			&:before{
				background-image: url('../img/icono-03-04.svg');
			}
		}
		&--escrow-05{
			&:before{
				background-image: url('../img/icono-03-05.svg');
			}
		}
		&--reservas-01{
			&:before{
				background-image: url('../img/icono-04-01.svg');
			}
		}
		&--reservas-02{
			&:before{
				background-image: url('../img/icono-04-02.svg');
			}
		}
		&--reservas-03{
			&:before{
				background-image: url('../img/icono-04-03.svg');
			}
		}
		&--ivr-01{
			&:before{
				background-image: url('../img/icono-05-01.svg');
			}
		}
		&--ivr-02{
			&:before{
				background-image: url('../img/icono-05-02.svg');
			}
		}
		&--ivr-03{
			&:before{
				background-image: url('../img/icono-05-03.svg');
			}
		}
		&--ivr-04{
			&:before{
				background-image: url('../img/icono-05-04.svg');
			}
		}
		&--tpv-fisico-01{
			&:before{
				background-image: url('../img/icono-06-01.svg');
			}
		}
		&--tpv-fisico-02{
			&:before{
				background-image: url('../img/icono-06-02.svg');
			}
		}
		&--tpv-fisico-03{
			&:before{
				background-image: url('../img/icono-06-03.svg');
			}
		}
		&--paybycall-01{
			&:before{
				background-image: url('../img/icono-07-01.svg');
			}
		}
		&--paybycall-02{
			&:before{
				background-image: url('../img/icono-07-02.svg');
			}
		}
		&--paybycall-03{
			&:before{
				background-image: url('../img/icono-07-03.svg');
			}
		}
		&--paybycall-04{
			&:before{
				background-image: url('../img/icono-07-04.svg');
			}
		}
		&--paybycall-05{
			&:before{
				background-image: url('../img/icono-07-05.svg');
			}
		}
		&--paybycall-06{
			&:before{
				background-image: url('../img/icono-07-06.svg');
			}
		}
		&--payby-01{
			&:before{
				background-image: url('../img/icono-08-01.svg');
			}
		}
		&--payby-02{
			&:before{
				background-image: url('../img/icono-08-02.svg');
			}
		}
		&--payby-03{
			&:before{
				background-image: url('../img/icono-07-01.svg');
			}
		}
		&--payby-04{
			&:before{
				background-image: url('../img/icono-08-03.svg');
			}
		}
		&--payby-05{
			&:before{
				background-image: url('../img/icono-08-04.svg');
			}
		}
	}
	&__content{
		display: none;
		font-size: em(13);
		line-height: em(28);
		color: c('grey-text');
		padding-top: em(20);
		p{
			@include font('quick');
			margin-bottom: em(25);
		}
		ul{
			padding-left: em(40);
		}
		li{
			@include font('quick');
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
