.intro {
	position: relative;
	margin-top: em(90);
	margin-bottom: em(-90);
	padding-top: em(130);
	padding-bottom: em(130);
	background: url('../img/elemento-comun@2x.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;  
	z-index: -1;
	&__header{
		margin-bottom: em(40);
	}
	&__line{
		width: em(160);
	}
	&__title{
		&--02{
			margin: 0 auto em(10);
			max-width: em(380);
		}
		&--03{
			margin: 0 auto em(10);
			max-width: em(320);
		}
	}
	&__text{
		max-width: em(600);
		margin: 0 auto;
	}
	&--services{
		background: none;
		padding-top: em(50);
		padding-bottom: em(60);
		.text{
			font-size: em(26);
			max-width: em(660, 26);
		}
	}
	&--services-02{
		.text{
			max-width: em(480);
		}
	}
	&--services-04{
		.text{
			max-width: em(520);
		}
	}
	&--services-05{
		.text{
			max-width: em(520);
		}
	}
}
