.intro {
	text-align: center;
	margin-bottom: em(40);
	&__header{
		width: 100%;
		display: flex;
		justify-content: center;
    	align-items: center;
    	margin-bottom: em(20);
		img{
			width: em(50);
			margin: 0 em(20);
		}
	}
	&__line{
		width: em(115);
		height: em(2);
		background-color: c('grey-light-line');
	}
	&__icon{
		img{
			width: em(30);
		}
	}
	&__title{
		padding: 0 em(18);
	    font-size: em(27);
	    line-height: em(34, 27);
	    margin-bottom: em(15);
	}
	&__text{
		font-size: em(20);
		line-height: em(24);
		color: c('grey-dark-text');
	}
	&--services{
		position: relative;
		margin-bottom: em(20);
		.text{
			color: #323232;
		}
		&:after{
			content: '';
			display: block;
			width: em(40);
			height: 2px;
			background: c('black');
			margin: em(20) auto 0;
		}
	}
}

@include medium {
  @import 'medium';
}

@include large {
  @import 'large';
}

@include xlarge {
  @import 'xlarge';
}
