.testimonials {
	background-color: #000;
	z-index: inherit;
	padding-bottom: 0;
	width: 100%;
    overflow: hidden;
	&__brand{
		width: em(260, 6);
		margin-bottom: 0;
    	margin-right: em(35);
    	min-width: 70px;
	}
	&__slide{
		padding: em(275) em(220) em(185);
		display: flex;
		align-items: start;
	}
	.swiper-wrapper{
		padding-bottom: 0;
	}
	&__text{
		margin-bottom: em(35);
		line-height: em(30);
	}
	&--services{
		.testimonials__slide{
			padding: em(10) em(50) em(25) em(60);
			width: em(780);
			opacity: .5;
			transition: opacity .6 ease-in;
			cursor: pointer;
			&.swiper-slide-active{
				opacity: 1;
			}
		}
		.testimonials__brand{
			width: em(70);
		}
		.testimonials__text{
			font-size: em(16);
			margin-bottom: 0;
			padding-right: 0;
		}
	}
	&--clients-about{
		z-index: -1;
		margin-top: em(-40);
	}
	&--plataforma{
		z-index: -1;
	}
}
