.testimonials {
	&__slide{
		padding: em(50) em(30) em(0);
		text-align: center;
	}
	&__brand{
    	width: em(200);
    	margin-bottom: em(15);
	}
	&__text{
		position: relative;
		text-align: left;
		color: c('white');
		@include font('quick', 'medium');
		font-size: em(17);
		line-height: em(27);
		margin-bottom: em(50);
		padding-right: em(15);
		&:before{
			content: '';
			display: block;
			position: absolute;
			width: em(80);
			height: em(60);
			background-image: url('../img/quote-icon.svg');
			background-size: contain;
			background-repeat: no-repeat;
			top: em(-30);
			left: em(-23);
		}
	}
	&__position{
		text-align: right;
		@include font('quick', 'bold');
		color: c('white');
		font-size: em(19);
		line-height: em(24);
	}
	&__pagination{
		bottom: 0 !important;
		.swiper-pagination-bullet{
			background: c('white');
			opacity: 1;
		}
		.swiper-pagination-bullet-active{
			background: c('blue');
		}
	}
	.swiper-wrapper{
		padding-bottom: em(40)
	}
	&--services{
		.testimonials__slide{
			display: flex;
			align-items: start;
			padding-top: em(10);
		}
		.testimonials__brand{
			width: em(50);
			margin-right: em(15);
		}
		.testimonials__testimonial{
			position: relative;
			padding-left: em(20);
			&:before{
				content: '';
				display: inline-block;
				width: 2px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: c('white');
			}
		}
		.testimonials__text{
			font-size: em(14);
			margin-bottom: 0;
		}
	}
}


@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
