.landing-features {
	display: flex;
	flex-direction: wrap;
	justify-content: center;
	padding-top: 45px;
	.dispositives{
    	position: relative;
		width: 51.5vw;
		padding: 0;
		picture{
			position: absolute;
			width: 121%;
			top: 0;
			right: 0;
		}
	}
	&__info{
		width: 48.5vw;
		padding: 8.3vw em(182) 13vw em(70);
		h2{
			font-size: em(25);
			text-align: left;
			padding-left: 0;
			padding-bottom: em(15);
			margin-bottom: em(20);
			&:after{
				margin: 0;
			}
		}
		.landing-dropdowns{
			&__item{
				padding: em(22) 0 em(19) em(34);
			}
			&__title{
				&:after{
					width: em(13);
					height: em(13);
				}
				&--custom{
					&:before{
						width: em(14);
					}
				}
			}
			&__content{

			}
		}
	}
}
