.landing-features {
	.dispositives{
		width: 100%;
		height: auto;
		padding: em(60) em(35) 0 em(15);
	}
	&__info{
		width: 100%;
		padding: em(24) em(20);
		h2{
			text-align: center;
			position: relative;
			font-size: em(30);
			line-height: em(20);
			padding: 0 em(8) em(12);
			margin-bottom: em(10);
			span{
				font-weight: bold;
			}
			&:after{
				display: block;
				content: '';
				width: 9.8%;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				background: c('black');
				border-radius: 1px;
			}
		}
		.landing-dropdowns{
			&__item{
				padding: em(22) 0 em(19) em(36);
				border-bottom: 1px solid c('grey-light-line');
				border-radius: 1px;
				cursor: pointer;
				background-size: auto em(19);
				background-repeat: no-repeat;
				background-position: left center;
				&:last-child{
					border-bottom: 0;
				}
				&.open{
					.landing-dropdowns__title{
						&:after{
							transform-origin: center;
							transform: rotate(-45deg);
						}
					}
				}
			}
			&__title{
				position: relative;
				@include font('quick', 'bold');
				font-size: em(19);
				line-height: em(17);
				padding-right: em(15);
				&:after{
					display: inline-block;
					content: '';
					width: em(10);
					height: em(10);
					background: url('../img/cruz_grey.svg') center no-repeat;
					background-size: em(13, 19);
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					transition: all ease .3s;
				}
				&:before{
					display: inline-block;
					content: '';
					width: em(19);
					height: auto;
					position: absolute;
					left: em(-30);
					top: 0;
					bottom: 0;
					margin: auto;
					background-repeat: no-repeat;
					background-position: left center;
				}
				&--integracion{
					&:before{
						background-image: url('../img/icono-integracion.svg');
					}
				}
				&--custom{
					&:before{
						background-image: url('../img/icono-custom.svg');
						width: em(15);
						margin-left: em(2);
					}
				}
				&--plugin{
					&:before{
						background-image: url('../img/icono-pluguin.svg');
						width: em(17.5);
					}
				}
				&--seguridad{
					&:before{
						background-image: url('../img/icono-seguridad.svg');
						margin-left: em(2.5);
						width: em(12.5);
					}
				}
			}
			&__content{
				display: none;
				font-size: em(13);
				line-height: em(28);
				color: c('grey-text');
				padding-top: em(20);
				p{
					@include font('quick');
					margin-bottom: em(25);
				}
				li{
					@include font('quick');
					padding-left: em(20);
				}
			}
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
