.cta{
	&--blue{
		&:hover{
			background-color: c('blue-hover');
			transition:200ms ease all;
		}
	}
	&--white{
		&:hover{
			background-color: c('blue-hover');
			transition: 200ms ease all;
			a, button{
				color: c('white') !important;
				transition: 200ms ease all;
			}
		}
	}
}