.cta {
	text-align: center;
	text-transform: uppercase;
	border-radius: em(33);
	box-shadow: 0 em(15) em(23) rgba(0, 0, 0, 0.15);
	margin: 0 auto;
	transition: background-color .3s ease;
	cursor: pointer;
	a, button{
		display: block;
		cursor: pointer;
		@include font('quick', bold);
		line-height: 1;
		border: none;
	}
	&--xsmall{
		width: em(100, 12);
		font-size: em(12);
		a, button{
			background: none;
			padding: em(14) em(20);
			margin: 0 auto;
		}
	}
	&--small{
		width: em(142, 12);
		font-size: em(12);
		letter-spacing: 0.3px;
		a, button{
			background: none;
			padding: em(15) 0px em(15);
			margin: 0 auto;
		}
	}
	&--medium{
		width: em(250, 17);
		font-size: em(17);
		a, button{
			padding: em(25) 0px em(26);
			background: none;
			margin: 0 auto;
		}
	}
	&--blue{
		background-color: c('blue');
		a, button{
			color: #fff;
		}
	}
	&--white{
		background-color: c('white');
		transition:200ms ease all;
		a, button{
			color: c('grey-dark');
			background: none;
			transition:200ms ease all;
		}
	}
}

@include xsmall {
  @import 'xsmall';
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
