.about {
	margin-bottom: em(80);
	&__row{
		flex-direction: row;
		justify-content: space-around;
		padding: em(30) em(180) 0;
		.text{
			padding: em(0) em(70) 0;
			max-width: em(530);
			align-self: flex-end;
			margin-bottom: em(40);
		}
		picture{
			width: em(390);
			margin-bottom: em(15);
			text-align: left;
		}
		&:last-child{
			.text{
				padding-right: em(90);
				align-self: center;
			}
		}
	}
}