.about {
	margin-bottom: em(50);
	&__row{
		padding: em(30) em(30) 0;
		display: flex;
		flex-direction: column;
		&:last-child{
			.text{
				margin-bottom: em(45);
			}
		}
		picture{
			margin-bottom: em(55);
			text-align: center;
		}
		img{
			box-shadow: 0px 33px 54px 0px rgba(0, 0, 1, 0.26);
		}
		.text{
			line-height: em(26);
			color: c('grey-dark-text');
			padding: 0 em(15) 0 em(20);
		}
	}
}

@include medium {
  @import 'medium';
}

@include large {
  @import 'large';
}

@include xlarge {
  @import 'xlarge';
}
