.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 21;
  position: relative;
  width: 100%;
  &--landing{
  	position: absolute;
  }
  &--page{
    position: absolute;
  }
  &--home{
    position: absolute;
  }
}
.header {
  position: relative;
  width: em(285);
  flex-shrink: 0;
  z-index: 99;
  &__logo {
    height: em(125);
  }
  &__menu {
    display: none;
    &.is-visible {
    }
  }
  &__icon {}
  &.goToBack{
    z-index: 1;
  }
}
.navigation-menu {
  position: absolute;
  transform: translate3d(0,0,0);
  background: none;
  left: 0;
  padding-top: em(28);
  padding-bottom: 0;
  padding-right: em(26);
  padding-left: em(285);
  min-height: 0;
  overflow: visible;
  &__menu {
  }

  &.is-visible {
  }
}
.navigation {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  &__link {
    display: inline-block;
    color: c('black');
    padding: 0;
    font-size: em(14);
    border-bottom: 0;
    letter-spacing: 0.1px;
    transition: 200ms ease all;
    &:hover {
      color: c('blue');
      transition: 200ms ease all;
    }
    &--white{
      color: c('white');
    }
    &--post{
      color: c('white');
    }
  }
  &--white {
    .navigation__link {
      color: c('white');
    }
  }
  &__item{
    padding: em(10) em(17);
    display: inline-block !important;
    margin-left: -4px;
    &:first-child{
      padding-left: 0;
    }
    span{
      display: none;
    }
    &--active{
      &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: em(6);
        left: 0;
        right: 0;
        width: 70%;
        margin: 0 auto;
        height: 2px;
        background-image: linear-gradient(to left, #006dff 0%, #43d2f1 100%);
        margin-top: 3px;
      }
    }
    &--active-open{
      &:after{
        display: none;
      }
    }
    &:first-child.navigation__item--active{
      &:after{
        right: auto;
        width: 90%;
      }
    }
    &:nth-last-child(2).navigation__item--active{
      &:after{
        width: 80%;
      }
    }
  }
  .is-mobile{
    display: none !important;
  }
  &__submenu{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: em(28,14) 0 em(30,14);
    top: em(40);
    left: -200%;
    border-radius: em(15);
    background-color: c('white');
    //transition: opacity .3 ease, visibility 0s;
    &:before{
      position: absolute;
      content: '';
      display: block;
      width: em(10);
      height: em(10);
      background: url('../img/arrow-submenu.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      top: em(-8);
      left: calc(50% - #{em(5)});
    }
    &--hidden{
      // opacity: 0;
      // visibility: hidden;
      display: none;
    }
    &--col{
      min-width: em(472);
      flex-direction: row;
    }
  }
  &__linksubmenu{
    font-size: em(14);
    width: 100%;
    min-width: em(305);
    padding: em(18) em(55) em(20) em(55);
    background-color: c('white');
    transition: background-color .3s ease;
    &:before{
      position: relative;
      left: em(-10);
      top: em(2.5,14);
      background-size: em(18) em(17);
    }
    &--col{
      min-width: em(236);
      width: 50%;
      padding: em(18) 0 em(20) em(55);
    }
    &--smcol{
      min-width: em(260);
    }
    &:hover{
      background-color: c('grey-menu');
    }
  }
}
.navigation-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-cta {
  margin-top: 0;
  padding: 0;

  .cta {
    width: em(150, 12);
		font-size: em(12);
		letter-spacing: 0.3px;
    margin-top: 0;
    margin-right: em(24);
    a, button{
      font-size: em(15);
			padding: em(19.5) 0 em(19);
      letter-spacing: 1px;
		}
  }
  .icon-login{
    width: em(50);
    background: transparent;
    transition: opacity .3s ease-in;
    &:hover{
      opacity: .6 !important;
    }
    a{
      margin: 0;
      padding: em(9) 0;
      display: block;
    }
  }
}
.navigation-footer {
  position: relative;
  left: 0;
  right: auto;
  bottom: auto;
  padding: 0;
  margin-bottom: em(10);
  margin-left: em(30);
  &__languages {
  }
  &__copy {
    display: none;
  }
  &:after {
    content: '';
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: em(-24);
    width: em(1);
    height: em(22);
    background-color: c('grey-light');
  }
}
.languages {
  &__current {
    font-size: em(14);
    color: c('black');
    letter-spacing: 0;
    &:after {
      background-image: url(../img/arrow-language.svg);
      right: em(-17.5, 14);
      top: em(6, 14);
      width: em(10, 14);
      height: em(6, 14);
    }
  }
}

.navigation-menu--white {
  .navigation__link {
    color: c('white');
    &:hover {
      color: c('blue');
    }
  }
  .languages__current {
    color: c('white');
    &:after {
      background-image: url(../img/arrow-language-white.svg);
    }
  }
  .navigation-footer:before {
    background-color: c('white');
  }
}
.overlay-menu{
  position: fixed;
  background-color: c('black');
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: .6;
  display: none;
}
