.header-wrapper {
	&--landing{
		display: block;
		position: absolute;
	}
  &--page{
    display: block;
  }
}
.header {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  height: em(100);
  justify-content: space-between;
  align-items: center;
  &__link {
    display: block;
  }
  &__logo {
    height: em(110);
  }
  &__sticky-logo{
    height: em(35);
    margin-left: em(25);
    display: none;
  }
  &__menu {
    position: absolute;
    top: em(30);
    right: 0;
    height: em(20);
    width: em(26);
    margin-right: em(30);
    margin-bottom: em(20);
    visibility: hidden;
    opacity: 0;
    &.is-visible {
      visibility: visible;
      opacity: 1;
    }
    .hamburger {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 1;
    }
    .hamburger-box{
      width: em(26);
      height: em(16);
    }
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
      width: em(26);
      height: em(3);
    }
    .hamburger--spring .hamburger-inner{
      top: em(2);
      transition: background-color 0s ease 0s;
    }
    .hamburger--spring .hamburger-inner:before{
      top: em(7);
    }
    .hamburger--spring .hamburger-inner:after{
      top: em(14);
    }
  }
  &__icon {}
  &--sticky{
    position: fixed;
    height: em(65);
    background: c('blue');
    .header__menu{
      top: em(22);
    }
    .header__logo{
      display: none;
    }
    .header__sticky-logo{
      display: block;
    }
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
      background-color: c('white');
    }
  }
  &--fixed{
    position: fixed;
  }
}
.navigation-menu {
  position: fixed;
  height: 100%;
  overflow: auto;
  min-height: 100vh;
  background-color: c('white');
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  padding: em(30) 0;
  transform: translate3d(100%,0,0);
  transition:200ms ease transform;

  &__menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  &.is-visible {
    transform: translate3d(0,0,0);
    transition:200ms ease transform;
  }
}
.navigation {
  margin-top: em(100);
  &__item{
    position: relative;
    font-weight: 500;
    span{
      display: inline-block;
      width: em(16);
      height: em(9);
      background-image: url('../img/arrow-menu.svg');
      background-size: em(16) em(9);
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: em(6);
      right: em(22);
      padding: em(35, 23) em(50, 23);
      transition: transform .3s ease;
      transform-origin: center;
      &.icon-up{
        transform: rotate(180deg);
      }
    }
  }
  &__submenu{
    display: none;
    padding: em(5) em(53.5, 23) em(5);
    background-color: #f5f5f5;
  }
  &__linksubmenu{
    position: relative;
    display: block;
    padding: em(15) 0 em(15) em(48);
    font-size: em(19);
    line-height: em(16);
    font-weight: 500;
    color: c('black');
    &:before{
      content: '';
      display: inline-block;
      position: absolute;
      left: em(20);
      width: em(20);
      height: em(19);
      background-position: center em(2);
      background-repeat: no-repeat;
			background-size: em(15);
    }
    &--tpv{
      &:before{
        background-image: url('../img/menu-01.svg');
      }
    }
    &--market{
      &:before{
        background-image: url('../img/menu-02.svg');
      }
    }
    &--escrow{
      &:before{
        background-image: url('../img/menu-03.svg');
      }
    }
    &--proxy{
      &:before{
        background-image: url('../img/menu-04.svg');
      }
    }
    &--ivr{
      &:before{
        background-image: url('../img/menu-05.svg');
      }
    }
    &--paycall{
      &:before{
        background-image: url('../img/menu-06.svg');
      }
    }
    &--payby{
      &:before{
        background-image: url('../img/menu-07.svg');
      }
    }
    &--tpvf{
      &:before{
        background-image: url('../img/menu-08.svg');
      }
    }
    &--developers-0 {
      &:before{
        background-image: url('../img/Desarrolladores-menu-01.svg');
      }
    }
    &--developers-1 {
      &:before{
        background-image: url('../img/Desarrolladores-menu-02.svg');
      }
    }
    &--developers-2 {
      &:before{
        background-image: url('../img/Desarrolladores-menu-03.svg');
      }
    }
    &--developers-3 {
      &:before{
        background-image: url('../img/Desarrolladores-menu-04.svg');
      }
    }
    &--empresa-0 {
      &:before{
        background-image: url('../img/empresa-menu-01.svg');
      }
    }
    &--empresa-1 {
      &:before{
        background-image: url('../img/empresa-menu-02.svg');
      }
    }
    &--empresa-2 {
      &:before{
        background-image: url('../img/empresa-menu-03.svg');
      }
    }
    &--empresa-3 {
      &:before{
        background-image: url('../img/empresa-menu-04.svg');
      }
    }
    &--plataforma-1 {
      &:before{
        background-image: url('../img/plataforma-menu-01.svg');
      }
    }
    &--plataforma-2 {
      &:before{
        background-image: url('../img/plataforma-menu-02.svg');
      }
    }
    &--plataforma-3 {
      &:before{
        background-image: url('../img/plataforma-menu-03.svg');
      }
    }
    &--plataforma-4 {
      &:before{
        background-image: url('../img/plataforma-menu-04.svg');
      }
    }
    &--servicios-1 {
      &:before{
        background-image: url('../img/servicios-menu-01.svg');
      }
    }
    &--servicios-2 {
      &:before{
        background-image: url('../img/servicios-menu-02.svg');
      }
    }
    &--servicios-3 {
      &:before{
        background-image: url('../img/servicios-menu-03.svg');
      }
    }
    &--servicios-4 {
      &:before{
        background-image: url('../img/servicios-menu-04.svg');
      }
    }
    &--servicios-5 {
      &:before{
        background-image: url('../img/servicios-menu-05.svg');
      }
    }
  }
  &__link {
    @include font('quick');
    color: c('black');
    display: block;
    font-size: em(23);
    font-weight: 500;
    padding: em(15, 23) em(50, 23);
    letter-spacing: em(1.4, 23);
    border-bottom: em(1, 23) solid transparentize(c('white'), 0.9);
    line-height: 1.25;
    letter-spacing: 0px;
    &--parent{
      position: relative;
    }
    &.parent-open{
      &:after{
        transform: rotate(180deg);
      }
    }
  }
}
.navigation-cta {
  margin-top: em(92);
  padding-bottom: em(100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 em(50);
  .cta{
    width: em(180);
    margin: 0;
    a{
      font-size: em(14);
      letter-spacing: .3px;
      padding: em(22) 0;
    }
  }
  .icon-login{
    text-indent: -9999px;
    width: em(70);
    background: c('white');
    border: 2px solid c('black');
    border-radius: em(25);
    a{
      padding: em(7) 0;
      background-image: url('../img/login.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: em(14) em(16);
    }
  }
}
.navigation-wrapper {
  position: relative;
}
.navigation-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: em(18) em(10) 0;
  border-top: em(1, 23) solid #e8e8e8;
  margin: em(33) em(50) 0;
  &__languages {
    font-size: em(20);
    color: c('black');
    text-transform: uppercase;
    padding-right: em(20);
    position: relative;
    .target-menu-lang{
      position: relative;
      display: block;
      padding-right: em(20);
      .icon-menu-lang{
        position: absolute;
        right: 0;
        top: em(6);
        width: em(12);
        height: em(7);
        background-image: url('../img/arrow-menu.svg');
        background-position: center;
        background-repeat: no-repeat;
        transform-origin: center;
        transition: transform .3s ease-in;
        &--up{
          transform: rotate(180deg);
        }
      }
    }
    a{
      color: c('black');
      font-weight: 500;
      display: none;
      &.active-lang{
        display: block;
      }
    }
  }
  &__copy {
    position: absolute;
    top: em(30);
    right: em(15);
    @include font('quick');
    color: c('grey-dark');
    text-transform: uppercase;
    font-size: em(12);
  }
}
.languages {
  &__current {
    position: relative;
    text-transform: uppercase;
    font-size: em(20);
    letter-spacing: em(1, 20);
    &:after {
      content: '';
      position: absolute;
      background-image: url(../img/arrow-language-white.svg);
      @include bgi;
      right: em(-25, 20);
      top: em(8, 20);
      width: em(16, 20);
      height: em(9, 20);
    }
  }
}

@include xsmall {
  @import 'xsmall';
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
