.header {
  &__link {
  }
  &__logo {
  }
  &__menu {
    &.is-visible {
    }
  }
  &__icon {}
}
.navigation-menu {
  max-width: 1600px;
  @include xCenter;

  &__menu {
  }

  &.is-visible {
  }
}
.navigation {
  &__link {
    &:hover {
    }
  }
  &--white {
    .navigation__link {
    }
  }
}
.navigation-cta {
  margin-left: 0;
  margin-top: 0;
  width: em(200, 12);

  .cta {
    @include xCenter;
    width: em(142, 12);
    a, button {}
  }
}
.navigation-footer {
  &__languages {
  }
  &__copy {
  }
  &:after {
  }
  &:before {
  }
}
.languages {
  &__current {
    &:after {
    }
  }
}

.navigation-menu--white {
  .navigation__link {
  }
  .languages__current {
    &:after {
    }
  }
  .navigation-footer:before {
  }
}
