.navigation-menu {
  padding: em(10);
}
.navigation {
  &__link {
    font-size: em(18);
    padding: em(10, 23) em(23.5, 23);
    letter-spacing: em(1.4, 23);
    border-bottom: em(1, 23) solid transparentize(c('white'), 0.9);
    line-height: 1.25;
  }
}