.related {
	&__title{
		position: relative;
		@include font('quick');
		font-size: em(25);
		text-align: center;
		span{
			@include font('quick', 'bold');
		}
		&:after{
			content: '';
			display: block;
			width: 37px;
			height: 2px;
			background-color: c('black');
			margin: em(10) auto em(30);
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
