.topmain {
	display: flex;
	justify-content: flex-end;
	margin: 0 4vw;
	position: relative;
	z-index: 1;
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
