.form{
	padding: em(64) em(52) em(30) em(42);
	box-shadow: none;
	border-radius: 0;
	background: none;
	&__input{
		display: inline-block;
		margin: 0 1.3% 15px;
		padding: em(10) 0 em(11) em(30);
		&--textarea{
			min-height: 90px;
			padding: em(14) 0 em(11) em(30);
		}
		&--margin-bottom{
			margin-bottom: em(64);
			& ~ .form__error {
				top: em(-30);
			}
		}
	}
	&__legal{
		max-width: 66%;
		margin: 0 auto em(26);
	}
	&__legal-text {
		a{
			transition: opacity .3s ease;
			&:hover{
				opacity: .6;
			}
		}
	}
	&__cta{
		padding: em(23) 0px em(24);
	}
	.cta{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		cursor: pointer;
		button{
			cursor: pointer;
		}
	}
}
