.form{
	padding: em(28) em(24);
	&__input{
		width: 100%;
		background: c('grey-form');
		border: 0;
		border-radius: em(23, 14);
		-webkit-appearance: none;
		padding: em(17) 0 em(18) em(25);
		font-size: em(14);
		margin-bottom: em(19);
		&--textarea{
			min-height: em(100, 14);
			-webkit-appearance: none;
			resize: none;
		}
		&.has-errors {
			background-color: c('red-error');
			color:c('white');
			&::placeholder {
				color:c('white');
			}
		}
	}
	&__checkbox {
	    width: em(20);
	    position: absolute;
	    input {
	      opacity: 0;
	      visibility: hidden;
	      position: absolute;
	    }
	    label {
	      display: block;
	      width: em(16);
	      height: em(16);
	      background-color: c('grey-form');
	      border-radius: em(3);
	      margin-top: em(2.5);
	    }
	    input:checked + label {
	      background-color: c('blue');
	    }
	}
	&__legal{
		margin-bottom: em(30);
	}
	&__legal-text {
	    font-size: em(13);
	    padding-left: em(25, 13);
	    text-align: left;
	    @include font('quick', 'medium');
	    line-height: 1.7;
	    color: c('grey-light');
			margin-bottom: em(20);
	    a {
	      color: c('blue');
	    }
	}
	&__cta{
		text-align: center;
		border: 0;
		-webkit-appearance: none;
		margin: 0 auto;
		background: none;
		width: inherit;
	}
	&__error {
		display: none;
		font-size: em(13);
		color: c('red');
		position: relative;
	    top: em(-10, 13);
	    margin-left: em(20, 13);
		&.is-active {
			display: block;
		}
	}
	&__inputs{
		&--file{
			position: relative;
		}
	}
	input[type="file"] {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	    cursor: pointer;
	}
	.custom-file-upload{
		width: 100%;
	    background-color: #707070;
	    background-image: url('../img/cruz_white.svg');
	    background-repeat: no-repeat;
	    background-position: 96% center;
	    background-size: em(15);
	    color: c('white');
	    border: 0;
	    border-radius: em(23, 14);
	    -webkit-appearance: none;
	    font-size: em(14);
	    display: inline-block;
	    margin: 0 1.3% em(24);
		padding: em(10) 0 em(11) em(30);
		cursor: pointer;
	}
}
.has-errors {
	.form__input,
	.form__checkbox label {
		border: 1px solid c('red');
	}
}
.is-valid {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: em(13);
		right: em(15);
		width: em(11);
		height: em(8);
		@include bgi;
		background-image: url(../img/form-check.svg);
		background-size: contain;
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
