.rate-card {
  width: 50%;
  padding: em(30);
	&:before {}
	&:after {}
	&__title {
    font-size: em(29);
    padding: 0 em(20, 29);
    line-height: 1.4;
	}
	&__icon {}
	&__text {
    padding: 0 em(22);
		p {}
	}
	&__price {
    font-size: em(40);
    strong{
      font-weight: 500;
    }
  }
	.cta {
    bottom: em(-34);
		a {}
	}
	&__cta {
  }
	&--alt {
		&:before {}
	}
  &--parent{
    &__title{
      letter-spacing: 0;
    }
    &__body {
      height: em(323);
      padding-bottom: em(10);
    }
  }
  &--child{
    position: relative;
    margin: em(30) em(0);
    padding: em(35) em(40) em(53);
    &:before{
      border-radius: 0 em(10) em(10) 0;
    }
    &__title{
      font-size: em(26);
    }
    &__body{
      height: em(272);
      padding-bottom: em(10)
    }
    .rate-card__icon {
      margin: em(27) 0 em(20);
    }
  }
}
