.rate-card {
	&:before {
	}
	&:after {
	}
	&__title {
	}
	&__body {
	}
	&__icon {
	}
	&__text {
		p {
		}
	}
	&__price {
	}
	.cta {
		bottom: em(-32.5);
		a {
		}
		&:hover{
			a{
			}
		}
	}
	&__cta {
	}
	&--alt {
		&:before {
		}
		.rate-card__icon {
		}
	}
}
@include medium {
}
@include large {
}
@include xlarge {
}
