.rate-card {
	border-radius: em(10);
	padding: em(30) em(15) em(55);
	text-align: center;
	position: relative;
	z-index: 1;
	overflow: visible;
	margin-bottom: em(100);
	box-shadow: 7px 12px 98px rgba(0, 0, 0, 0.23);
	&:before {
		content: '';
		border-radius: em(10);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -2;
		background-color: c('blue');
	}
	&:after {
		content: '';
		border-radius: em(10);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background-image: url(../img/bg-tarifas.png);
		@include bgi;
	}
	&__title {
		font-size: em(32);
		font-weight: 700;
		color: c('white');
		margin-bottom: em(15, 32);
	}
	&__body {
		padding-bottom: em(36);
	}
	&__icon {
		width: em(144);
		margin-top: em(35);
		margin-bottom: em(20);
	}
	&__text {
		padding: 0 em(15);
		p {
			color: c('white');
			font-size: em(16);
			letter-spacing: 0;
			margin-bottom: em(15, 16);
			hyphens: unset;
		}
	}
	&__price {
		font-size: em(36);
		color: c('white');
	}
	.cta {
		position: absolute;
		bottom: em(-32.5);
		left: 0;
		right: 0;
		font-size: em(16);
		a {
			transition: opacity ease .3s;
			color: c('blue');
		}
	}
	&__cta {
		border-radius: 50%;
	}
	&--alt {
		margin-bottom: em(75);
		&:before {
			background-color: c('blue-alt');
		}
		.rate-card__icon {
			width: em(128);
		}
	}
	&--parent{
		margin-bottom: 0;
		&__title{
			letter-spacing: -1.5px;
		}
	}
	&--child{
    	position: relative;
		margin-left: em(20);
		margin-right: em(20);
		z-index: 0;
		padding: em(55) em(20) em(45);
		&:before{
			border-radius: 0 0 em(10) em(10);
		}
		&__title{
			font-size: em(26);
		}
		&__body{
			padding-bottom: em(10);
		}
		.rate-card__icon {
			width: em(106);
		}
		.cta{
			a{
				color: c('white');
			}
		}
	}
}


@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
