.card{
	transition: transform 200ms ease-in;
	&:hover{
		transform: translateY(-20px);
		img{
			transform: scale(1.1);
		}
	}
	&__image{
		overflow: hidden;
		border-top-right-radius: 15px;
    	border-top-left-radius: 15px;
    	a{
    		display: block;
    	}
		img{
			transition: transform .3s ease-in;
		}
	}
	&__title{
		a{
			transition: opacity .3s ease;
			&:hover{
				opacity: .6;
			}
		}
	}
	&__categories{
		a{
			transition: opacity .3s ease;
			&:hover{
				opacity: .6;
			}
		}
	}
}
