.card {
	position: relative;
	box-shadow: 0 17px 37px rgba(0, 0, 0, 0.22);
	margin-bottom: 13vw;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: c('white');
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	overflow: hidden;
	&__image{
		width: 100%;
		height: auto;
		a{
			border-top-right-radius: 15px;
			border-top-left-radius: 15px;
		}
		picture{
			border-top-right-radius: 15px;
			border-top-left-radius: 15px;
		}
		img{
			width: 100%;
			border-top-right-radius: 15px;
		    border-top-left-radius: 15px;
		}
	}
	&__content{
		text-align: center;
		padding: em(28) 36px em(42);
	}
	&__date{
		color:c('grey-light');
		@include font('quick', medium);
		font-size: em(13);
		line-height: em(24);
		text-align: center;
		margin-bottom: em(13);
	}
	&__title{
		margin-bottom: em(20);
		a{
			color: c('black');
			@include font('quick', medium);
			font-size: em(20);
		}
	}
	&__excerpt{
		margin-bottom: em(18);
		p{
			color: c('black');
			@include font('quick', medium);
			font-size: em(12.5);
			line-height: em(24);
		}
	}
	&__categories{
		a{
			display: inline-block;
			color: c('blue');
			@include font('quick', medium);
			font-size: em(13);
			line-height: em(24);
			&:after{
				display: inline-block;
				content: '•';
				margin-left: 5px;
			}
			&:last-child{
				&:after{
					display: none;
				}
			}
		}
	}

}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
