.loader {
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left: 0;
	overflow: hidden;
	z-index: 99;
	&__gif{
		width: 100%;
		height: 100%;
		position: relative;
		top: 0;
		left: 0;
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: 100px;
			height: 100px;
		}
	}
}

@include medium {
  @import 'medium';
}

@include large {
  @import 'large';
}

@include xlarge {
  @import 'xlarge';
}
