.steps {
	padding-top: em(20);
  	margin-bottom: em(70);
	&__title {
		&:after {
			
		}
	}
	&__wrapper {
    justify-content: center;
    padding-top: em(80);
	}
}

.step {
	width: em(230);
	&__image {
	    margin-bottom: 0;
	}
	&__title {
    height: em(60, 20);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
	}
	&__text {
		padding: 0 em(10);
		p {}
	}
}

.swiper-pagination {
  display: none;
}

.swiper-pagination--landing-steps {
	.swiper-pagination-bullet-active {}
}
