.steps {
	padding-top: em(65);
	margin-bottom: em(50);
	&__title {
		text-align: center;
		font-size: em(30);
		font-weight: 400;
		padding: 0 em(20, 30);
		line-height: 1.4;
		position: relative;
		z-index: 1;
		&:after {
			content: '';
			background-color: c('black');
			position: absolute;
			width: em(36.5, 30);
			height: 2px;
			border-radius: em(1, 30);
			bottom: em(-25, 30);
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	&__wrapper {
		padding-top: em(55);
	}
}

.step {
	width: em(240);
	text-align: center;
	&__image {
		margin-bottom: 0;
	}
	&__title {
		font-size: em(20);
	    font-weight: 700;
	    height: em(55, 20);
	    margin-bottom: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	&__text {
		padding: 0 em(16);
		p {
			font-size: em(13);
			hyphens: none;
			letter-spacing: em(0.2, 13);
			color: c('grey-text');
		}
	}
}

.swiper-pagination--landing-steps {
	bottom: em(20) !important;
	.swiper-pagination-bullet-active {
		background-color: c('blue');
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
