.landing-cover {
	margin-bottom: 45px;
	padding-bottom: 0;
    &__cta{
		display: none;
	}
	&__text{
		padding: em(195) em(0) em(160) em(178);
		h1{
			font-size: em(41);
			line-height: em(19);
			margin-bottom: em(12);
		}
		p{
			margin-bottom: em(10);
			max-width: 31%;
			font-size: em(15);
		}
		.arrow-down{
			display: block;
			width: 11px;
			height: 65px;
			background-image: url('../img/flecha.svg');
			background-size: 11px;
			background-repeat: no-repeat;
			background-position: center bottom;
			position: relative;
			padding: 45px 66px;
			cursor: pointer;
		}
	}
	&__overlay{
		opacity: 1;
	    visibility: visible;
	    position: absolute;
	    top: em(100);
	    left: auto;
	    right: 7.4vw;
	    transform: translateY(0);
	    background: c('white');
	    padding: 0;
	    width: 38.12vw;
	    height: auto;
	    box-shadow: 5px 8px 98px rgba(0,0,0,.2);
	    border-radius: 15px;
	    overflow-y: visible;
	    transition: none;
	}
	&__suscribeform{
		opacity: 1;
		transition: none;
		h3{
			&:after{
				width: 22.5%;
			}
		}
		.suscribeform{
			padding: 38px 26px;
			box-shadow: none;
			border-radius: 0;
			background: none;
			&__input{
				display: inline-block;
				width: 46.7%;
				margin: 0 1.3% 15px;
				padding: em(10) 0 em(11) em(30);
				&[type='email']{
					width:97%;
				}
				&--textarea{
					width:97%;
					min-height: 90px;
					padding: em(14) 0 em(11) em(30);
				}
			}
			&__legal{
				max-width: 62%;
				margin: 0 auto em(26);
			}
			&__cta{
				padding: em(23) 0px em(24);
			}
			.cta{
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				cursor: pointer;
				button{
					cursor: pointer;
				}
			}
		}
		.iconclose{
			display: none;
		}
	}
}
