.landing-cover {
	position: relative;
	padding-bottom: em(100);
	picture{
		position: absolute;
		z-index: -1;
	}
	&__cta{
		position: fixed;
		top: em(30);
		right: 15px;
		z-index: 10;
		button{
			text-align: center;
			text-transform: uppercase;
			-webkit-appearance: none;
			border: 0;
			border-radius: 50%;
		}
	}
	&__text{
		padding: em(138) em(49) em(50);
		h1{
			@include font('quick');
			font-size: em(30);
			color: c('black');
			margin-bottom: em(15);
			span{
				@include font('quick', 'bold');
			}
		}
		p{
			font-size: em(16);
			line-height: em(25);
			color: c('grey-dark-text');
		}
		.arrow-down{
			display: none;
		}
	}
	&__cta-button {
		text-transform: uppercase;
		text-align: center;
		margin: 0 auto;
		border: none;
		background: none;
		-webkit-appearance: none;
		margin-top: em(40, 17);
		margin-bottom: em(-80, 17);
	}
	&__overlay{
		position: fixed;
		width: 100vw;
		height: 100%;
		top: 0;
		left: 0;
		background: c('black');
		z-index: 10;
		padding: em(25) em(25);
		transform: translateY(-100%);
		opacity: 0;
		transition: opacity 0s 600ms, transform ease-in 600ms;
		overflow-y: scroll;
		&.is-visible{
			opacity: 1;
			transform: translateY(0);
			transition: opacity 0s, transform ease-in 300ms;
			.landing-cover__suscribeform{
				opacity: 1;
				transition: opacity .3s ease 300ms;
			}
		}
	}
	&__suscribeform{
		position: relative;
		background: c('white');
		box-shadow: 5px 8px 98px rgba(0, 0, 0, 0.2);
		border-radius: 15px;
		opacity: 0;
		h3{
			@include font('quick', 'bold');
			font-size: em(28);
			text-align: center;
			color: c('black');
			padding: em(25) 0 em(12);
			position: relative;
			&:after{
				position: absolute;
				bottom: 0;
				display: block;
				content: '';
				width: 34.5%;
				height: 3px;
				left: 0;
				right: 0;
				margin: 0 auto;
				background-image: linear-gradient(to left, #006dff 0%, #43d2f1 100%);
				border-radius: 20%;
			}
		}
		.suscribeform{
			padding: em(28) em(24);
			&__input{
				width: 100%;
				background: c('grey-form');
				border: 0;
				border-radius: em(23, 14);
				-webkit-appearance: none;
				padding: em(17) 0 em(18) em(25);
				font-size: em(14);
				margin-bottom: em(19);
				&--textarea{
					min-height: em(100, 14);
					-webkit-appearance: none;
					resize: none;
				}
				&.has-errors {
					background-color: c('red-error');
					color:c('white');
					&::placeholder {
						color:c('white');
					}
				}
			}
			&__checkbox {
			    width: em(20);
			    position: absolute;
			    input {
			      opacity: 0;
			      visibility: hidden;
			      position: absolute;
			    }
			    label {
			      display: block;
			      width: em(16);
			      height: em(16);
			      background-color: c('grey-form');
			      border-radius: em(3);
			      margin-top: em(2.5);
			    }
			    input:checked + label {
			      background-color: c('blue');
			    }
			}
			&__legal{
				margin-bottom: em(30);
			}
			&__cta{
				text-align: center;
				border: 0;
				-webkit-appearance: none;
				margin: 0 auto;
				background: none;
			}
		}
		.iconclose{
			position: absolute;
			width: 31px;
			height: 31px;
			top: -9px;
			right: -7px;
			background: c('blue');
			border-radius: 25px;
			cursor: pointer;
			background-image: url('../img/cruz.svg');
			background-size: 50%;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
