.steps-how {
	margin-top: 0;
	&__title{
		font-size: em(25);
		text-align: left;
		padding: 0 0 em(5) 0;
	}
	.subtitle--after{
		&:after{
			left: 0;
			right: auto;
		}
	}
	&__items{
		padding: em(60) 0 0 0;
	}
	&__item{
		width: em(340);
	}
	&__header{
		&:after{
			width: em(265);
		}
	}
	&--short{
		padding: 0 em(125) 0 em(180);
	}
	&--large{
		padding: 0;
		.steps-how__title{
			margin-left: em(115);
		}
		.steps-how__item{
			width: em(235);
		}
		.steps-how__header{
			&:after{
				width: em(165);
			}
		}
	}
	.swiper-container--steps-how-desktop{
		padding-left: em(180);
	}
}
