.steps-how {
	margin-top: em(80);
	&__title{
		padding: 0 em(30) em(25);
		text-align: center;
	}
	&__items{
		padding: em(30) 0 0 em(30);
	}
	&__item{
		width: 85%;
		&:last-child{
			.steps-how__header{
				background-image: none;
				&:after{
					display: none;
				}
			}
		}
	}
	&__header{
		position: relative;
		height: em(56);
		background-image: url('../img/steps-arrow.svg');
		background-size: em(12);
		background-repeat: no-repeat;
		background-position: 96% center;
		img{
			width: em(50);
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			width: em(220);
			height: em(1);
			top: 50%;
			margin-top: em(-2);
			right: 4%;
			border-bottom: em(2.5) dotted c('grey-superlight');
			z-index: -1;
		}
	}
	.swiper-container--steps-how{
		padding-bottom: em(70);
	}
	.swiper-pagination--steps-how{
		padding-right: em(30);
	}
	&__content{
		padding-top: em(35);
		padding-right: em(45);
		p{
			font-size: em(15);
			line-height: em(22);
			color: c('grey-text');
			@include font('quick', 'medium');
			margin-bottom: em(30);
		}
		.how-content-item{
			cursor: pointer;
			width: em(120);
			position: relative;
			margin-bottom: em(15);
			&:after{
				content: '';
				display: inline-block;
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				width: em(10);
				height: em(10);
				background-image: url('../img/cruz_blue.svg');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				margin-left: em(10);
				transition: transform .3s ease-in;
			}
			&--opened{
				&:after{
					transform: rotate(45deg);
				}
			}
		}
		.content-option{
			display: none;
		}
	}
	&__btn{
		a{
			@include font('quick', 'bold');
			color: c('white');
			padding: em(10) em(25);
			text-transform: none;
		}
	}
}

@include medium {
  @import 'medium';
}

@include large {
  @import 'large';
}

@include xlarge {
  @import 'xlarge';
}
