.newsletter {
  &__img {
    margin-bottom: em(22.5);
  }
  &__title {
    margin-bottom: em(35, 30);
  }
  &__form {
    padding: 0;
  }
  &__input {
    text-align: left;
    padding: em(20) em(45);
  }
  &__tos {
    padding: em(15) em(20);
    margin: em(15) 0 em(20);
  }
  &__checkbox {
    input {
    }
    label {
    }
    input:checked + label {
    }
  }
  &__text {
    a {
      transition: 200ms ease all;
      border-bottom: em(1, 13) solid transparent;
      &:hover {
        transition: 200ms ease all;
        border-color: c('blue');
      }
    }
  }
  &__cta {}
}
