.newsletter {
  text-align: center;
  z-index: 2;
  position: relative;
  margin-bottom: em(50);
  &__img {
    width: em(136);
    margin-bottom: em(35);
  }
  &__title {
    font-size: em(30);
    margin-bottom: em(15, 30);
  }
  &__form {
    padding: 0 em(25);
    max-width: em(460);
    @include xCenter
  }
  &__input {
    outline: none;
    border: none;
    background-color: c('grey-form');
    display: block;
    width: 100%;
    padding: em(20) em(30);
    text-align: center;
    border-radius: em(999);
    @include font('quick');
  }
  input:required {
      box-shadow:none;
  }
  input:invalid {
      box-shadow:0 0 3px c('blue');
  }
  &__tos {
    position: relative;
    padding: em(15) em(30);
  }
  &__checkbox {
    width: em(20);
    position: absolute;
    input {
      opacity: 0;
      visibility: hidden;
      position: absolute;
    }
    label {
      display: block;
      width: em(16);
      height: em(16);
      background-color: c('grey-form');
      border-radius: em(3);
      margin-top: em(2.5);
    }
    input:checked + label {
      background-color: c('blue');
    }
  }
  &__text {
    font-size: em(13);
    padding-left: em(25, 13);
    text-align: left;
    @include font('quick');
    line-height: 1.7;
    color: c('grey-light');
    a {
      color: c('blue');
    }
  }
  &__cta {
    background: none;
    border: 0;
    outline: none;
    @include xCenter;
  }
  .cta {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
