.cards{
	padding: em(54) 0 em(50);
	margin-left: auto;
	margin-right: auto;
	max-width: em(920);
	&__item{
		width: 100%;
		height: 100%;
		background-color: c('white');
		padding: em(35) em(25) em(18);
		box-shadow: 0 9px 22px rgba(0, 0, 0, 0.05);
	}
	&__title{
		font-size: em(26);
		line-height: em(20);
		margin-bottom: em(10);
	}
	&__content{
		font-size: em(13);
		line-height: em(29);
		p{
			@include font('quick', 'medium');
		}
	}
	.swiper-wrapper{
		display: grid;
    	grid-template-columns: repeat(3, 1fr);
    	grid-column-gap: em(25);
    	grid-row-gap: em(47);
	}
	&--compact {
		padding-top: em(90);
		align-items: stretch;
		padding-bottom: em(170);
		@include xCenter;
		display: flex;
		max-width: em(920);
		.cards {
			&__item {
				position: relative;
				width: em(225);
				height: auto;
				&:before {
					display: block;
				}
			}
			&__title {}
			&__icon {}
			&__content {
				display: block;
				padding: em(10) em(20) em(30);
				font-size: 1em;
				margin-bottom: 0;
				p {
					font-size: em(12);
					line-height: 2;
					letter-spacing: 0.1px;
				}
			}
		}
	}
	&--plataforma{
		padding-top: em(130);
		margin-bottom: em(-40);
		&__title{
			padding: 0 em(105);
		}
	}
	&--plataforma-02{
		justify-content: center;
		.cards__item{
			margin: 0 em(5);
		}
	}
	&--services{
		padding: em(80) em(50) em(60);
		max-width: em(1024);
		z-index: 2;
		.cards__icon{
			margin-bottom: em(15);
			margin-top: em(15);
		}
		.cards__title{
			font-size: em(20);
			line-height: em(26);
		}
	}
	&--services-02{
		max-width: em(700);
		.swiper-wrapper{
	    	grid-template-columns: repeat(2, 1fr);
	    	grid-row-gap: em(25);
	    }
	}
	&--services-solutions{
		padding: 0 0 em(60);
		max-width: em(1023);
		margin-top: em(-50);
		z-index: 2;
		.cards__item{
			margin: 0 em(5) em(10);
		}
		.cards__icon{
			margin-bottom: em(10);
		}
		.cards__title{
			font-size: em(20);
			line-height: em(26);
		}
	}
}
.cards-solutions-container{
	    margin-top: 0;
	&__title{
		padding: 0 em(230) 0;
		margin-bottom: em(10);
	}
	.cards{
		padding: em(54) em(55) em(50);
		max-width: em(1023);
		z-index: 2;
	}
}
