.cards{
	position: relative;
	width: 100%;
	padding: em(40) em(15) em(45);
	&__item{
		width: 84.3%;
		height: auto;
		padding: em(34) em(28) em(26);
		border-radius: 5px;
		background-color: c('white');
		box-shadow: 0 9px 22px rgba(0, 0, 0, 0.05);
		transition: box-shadow .3s ease;
		&:before{
			position: absolute;
			display: block;
			content: '';
			width: 0%;
			height: em(4);
			top: 0;
			left: 0;
			background-image: linear-gradient(to left, #006dff 0%, #43d2f1 100%);
			transition: width .3s ease-in, box-shadow .8s ease;
		}
		&:hover{
			box-shadow: 0 9px 46px rgba(0, 0, 0, 0.14);
			&:before{
				width: 100%;
			}
		}
		&--current{
			&:before{
				width: 100%;
			}
		}
		&.swiper-slide-active{
			&:before{
				width: 100%;
			}
		}
	}
	&__icon{
		width: em(30);
		margin-bottom: em(40);
	}
	&__title{
		@include font('quick', 'bold');
		font-size: em(26);
		color: c('black');
		margin-bottom: em(14);
		a{
			@include font('quick', 'bold');
			color: c('black');
		}
	}
	&__content{
		font-size: em(13);
		line-height: em(28);
		color: c('grey-text');
		margin-bottom: em(23);
	}
	&--compact {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding-left: em(30);
		padding-right: em(30);
		padding-top: em(82.5);
		.cards {
			&__item {
				background-color: c('white');
				width: em(155);
				height: em(150);
				text-align: center;
				padding: 0;
				margin-bottom: em(5);
				&:before {
					display: none;
				}
			}
			&__title {
				font-size: em(16);
				text-align: center;
			}
			&__icon {
				width: 65px;
				margin: 25px 0;
			}

			&__content {
				display: none;
				p {
					font-weight: 500;
				}
			}
		}
	}
	&--plataforma{
		padding-top: em(110);
		&__title{
			text-align: center;
			font-size: em(30);
			@include font('quick', 'light');
			margin-bottom: em(45);
			padding-bottom: em(20);
		}
	}
	&--services{
		padding-top: em(20);
		padding-bottom: em(60);
	}
	&--services-solutions{
		justify-content: center;
		padding-left: em(25);
		padding-right: em(25);
		.cards__item{
			margin: 0 em(3) em(6);
		}
	}
}
.swiper-pagination-bullets{
	bottom: em(25) !important;
}
.swiper-pagination-bullet{
	width: 7px;
	height: 7px;
	margin: 0 5px;
}
.swiper-pagination-bullet-active{
	background: c('blue');
}
.cards-solutions-container{
	    margin-top: em(85);
	&__title{
		font-size: em(30);
		line-height: em(40, 30);
		font-weight: 400;
		text-align: center;
		margin: 0;
		padding: 0 em(30, 30) em(10);
	}
	.swiper-pagination-bullets{
		bottom: 0 !important;
	}
	.cards__item{
		&:last-child{
			&:hover{
				box-shadow: none;
				&:before{
					width: 0;
				}
			}
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
