.info-developers {
	background: none;
	text-align: left;
	margin-top: em(-395);
	margin-bottom: em(-125);
	padding: em(342) 0;
	min-height: 0;
	z-index: inherit;
	&:before{
		height: em(325);
	}
	&:after{
		height: em(225);
	}
	&__mask{
		&--top{
			top: 0;
		}
		&--bottom{
			bottom: 0;
		}
	}
	&__content{
		position: relative;
		top: em(75);
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		max-width: em(800);
		z-index: 1;
	}
	&__title{
		padding-left: 0;
		max-width: em(280);
		padding-bottom: 0;
		margin-bottom: em(28);
		&:after{
			margin: 0;
		}
	}
	&__code{
		position: absolute;
		right: 0;
		bottom: em(70);
		padding: 0;
	}
	pre[class*="language-"].line-numbers{
		padding-right: em(60);
	}
	&__text{
		padding-left: 0;
		max-width: em(460);
		margin-bottom: em(25);
		p{
			line-height: em(24);
			word-break: normal;
		}
	}
	.cta{
		margin-left: 0;
		width: em(126, 12);
	}
	a{
		font-size: em(15);
		text-transform: none;
	}
	&--callcenter{
		display: block;
	}
}
