.info-developers {
	position: relative;
	min-height: 300px;
	background-color: c('black');
	background-image: url('../img/bg-estrellas-mobile.png');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: em(95) 0;
	z-index: 0;
	&__mask{
		position: absolute;
		width: 100%;
		left: 0;
		z-index: 0;
		&--top{
			top: -1px;
		}
		&--bottom{
			bottom: -1px;
		}
	}
	&__title{
		color: c('white');
		@include font('quick');
		font-size: em(30);
		line-height: em(20);
		margin-bottom: em(18);
		padding: em(20) em(15) em(12);
		&.subtitle--after:after{
			background: c('white');
		}
	}
	&__text{
		padding: 0 em(30);
		margin-bottom: em(35);
		p{
			font-size: em(16);
			line-height: em(26);
			color: c('white');
			@include font('quick');
			font-weight: 500;
		}
	}
	a{
		text-transform: uppercase;
		letter-spacing: .5px;
	}
	&__code{
		font-size: em(12);
		line-height: em(24);
		padding: 0 em(40);
		margin-bottom: em(50);
		span.token.punctuation{
			color: white;
		}
		span.token{
			color: #40cef2;
			padding: 0;
		}
		span.token.tag{
			color: #ff7664;
		}
		span.token.attr-name{
			color: white;
		}
	}
	pre{
		@include font('quick');
	    font-weight: 500;
	    background: #013f92;
	    border-radius: em(5);
	    padding: em(18) em(8) em(18);
	    &:before{
			content: '';
			width: 2em;
			height: 100%;
			position: absolute;
			left:0;
			top: 0;
			background: c('blue');
			border-radius: em(5) 0 0 em(5);
		}
	}
	pre[class*="language-"].line-numbers{
		padding-left: em(50);
		padding-right: em(0);
		text-align: left;
	}
	pre:last-child{
		margin-top: em(20);
	}
	.line-numbers .line-numbers-rows{
		border: none;
		left: -3.2em;
    	width: 2em;
	}
	.line-numbers-rows > span:before, .line-numbers-rows > span:after{
		color: #013f92;
		padding-right: 0;
		text-align: center;
	}
	code{
		/*font-size: 16px;
	    line-height: 1.75;
	    background: 0 0;
	    padding: 30px;
	    white-space: pre;
	    -webkit-overflow-scrolling: touch;
	    display: block;
	    max-width: 100%;
	    min-width: 100px;*/
	}
	&__video{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		margin: auto;
		z-index: -3;
	}
	&--callcenter{
		display: none;
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
