.modelos {
	position: relative;
    z-index: 1;
	margin-top: em(100);
	padding-bottom: em(245);
	margin-bottom: em(100);
	&__title{
		padding-bottom: 0;
	}
	&__container{
		padding-top: em(100);
		margin: 0 auto;
		max-width: em(900);
		display: flex;
		justify-content: center;
		position: relative;
	}
	&__item{
		max-width: em(400);
		margin: 0 em(15);
		.modelo{
			box-shadow: none;
			&__icon{
				padding: 0;
				width: em(170);
				margin: em(10) auto em(20);
			}
			&__text{
				margin-bottom: em(35);
				.tiny-text{
					padding: em(5) em(60) 0;
					@include font('quick', 'bold');
				}
			}
			&__btn{
				opacity: 0;
				visibility: hidden;
			}
		}
		&--active{
			border-radius: em(10);
			box-shadow: 7px 12px 98px rgba(0, 0, 0, 0.23);
			.modelo{
				background-color: c('white');
			}
			.modelo__btn{
				opacity: 1;
				visibility: visible;
			}
			.modelos__content{
				opacity: 1;
			}
		}
		&--split{
			.modelos__arrow{
				left: em(230);
				right: auto;
				margin-left: em(-12);
			}
			.modelos__outer-content-text{
				max-width: em(650);
			}
		}
		&--sepa{
			.modelos__arrow{
				right: em(230);
				left: auto;
			}
			.modelos__outer-content-text{
				max-width: em(500);
			}
		}
	}
	&__info{
		display: none;
	}
	&__content{
		position: absolute;
		display: block;
		width: 100%;
    	left: 0;
    	margin: em(55) 0;
    	padding: em(35) em(45) em(65);
    	opacity: 0;
    	&:before{
    		width: 90%;
    		right: 0;
    		margin:0 auto;
    	}
	}
	.modelos__outer-content-text{
		justify-content: space-between;
		margin: 0 auto;
	}
	&__content-text{
		width: em(160);
		img{
			padding-bottom: em(5);
		}
	}
}
