.modelos {
	&__title{
		text-align: center;
		font-size: em(30);
		font-weight: 400;
		padding: 0 em(20, 30);
		line-height: 1.4;
		position: relative;
		padding-bottom: em(15);
	}
	&__container{
		padding: em(30);
	}
	&__item{
		margin-bottom: em(25);
		.modelo{
			text-align: center;
			padding: em(40) em(25) em(35);
			border-radius: em(10);
			box-shadow: 7px 12px 98px rgba(0, 0, 0, 0.23);
			&__title {
				h3{
					font-size: em(29);
					@include font('quick', 'bold');
					color: c('black');
					margin-bottom: em(15, 32);
				}
			}
			&__icon{
				padding: 0 em(40);
				margin-bottom: em(12);
			}
			&__text{
				text-align: center;
				font-size: em(19);
				letter-spacing: .5px;
				@include font('quick', 'light');
				color: c('black');
				margin-bottom: em(25);
				.tiny-text{
					padding: em(10) em(20);
					font-size: em(12);
					line-height: em(24);
					color: c('grey-dark-text');
					letter-spacing: 0;
				}
			}
			&__btn{
				margin: 0 auto;
				a{
					width: em(220);
					@include font('quick', 'bold');
					color: c('white');
					padding: em(20) 0;
					display: block;
				}
			}
		}
	}
	&__info{
		font-size: em(13);
		@include font('quick', 'bold');
		text-transform: uppercase;
		color: c('grey-light');
		text-align: center;
		letter-spacing: .5px;
		padding: em(30) 0;
		&--hidden{
			display: none;
		}
	}
	&__content{
		position: relative;
		margin-top: em(55);
		margin-bottom: em(65);
		padding-top: em(30);
		display: none;
		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 2px;
			background-color: c('grey-light-line');
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__arrow{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: em(-35);
		width: em(24);
		height: em(16);
		background: url('../img/arrow-demos.svg') center no-repeat;
		background-size: contain;
		&--hidden{
			display: none;
		}
	}
	.modelos__outer-content-text{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__content-text{
		width: 50%;
		text-align: center;
		margin-bottom: em(20);
		padding: 0 em(8);
		display: block;
		img{
			padding: em(0) em(45) em(10);
		}
		p{
			font-size: em(14);
			line-height: em(24);
			color: c('black');
		}
	}
}

@include medium {
  @import 'medium';
}

@include large {
  @import 'large';
}

@include xlarge {
  @import 'xlarge';
}
