.main-footer {
	display: flex;
	flex-wrap: wrap;
	background-image: url('../img/footrer-bg@2x.png');
	background-position: center top;
	background-size: 100%;
	background-repeat: no-repeat;
	&__main{
		width: 100%;
		padding: em(100) em(425) em(60);
		background: none;
		p{
			line-height: em(29);
		}
		.paycomet-footer-logo{
			position: absolute;
			width: 150px;
			bottom: auto;
    		top: 100%;
			left: em(110);
			margin: 0;
			display: block;
		}
		&--ratespage{
			padding-top: em(50);
		}
		&--loginpage{
			padding-top: em(40);
		}
		&--legalpage{
			padding-top: em(60);
		}
	}
	&__top{
		width: 100%;
		display: block;
		padding: 0 0 em(60) 25vw;
		display: flex;
		.main-footer-sitemap{
			width: 50vw;
			padding: 0;
			&__column{
				flex: auto;
				.footer-page, a{
					font-size: em(10);
				}
				a{
					line-height: em(27);
					transition: opacity .3s ease-in;
					&:hover{
						opacity: .6;
					}
				}
				&--servicios {
					order: 3;
					transform: translateY(0);
				}
				&--main-menu {
					order: 4;
				}
			}
			&__languages{
				margin-top: em(15);
				transform: translateY(0);
			}
		}
		.main-footer-logos{
			transform: translateY(0);
			width: 25vw;
			float: none;
			.pci-logo{
				margin-top: 0;
				margin-bottom: 20px;
			}
			img{
				display: block;
			}
		}
	}
	&__bottom{
		width: 100%;
		background: c('grey-footer2');
		padding: em(30) em(26);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
    	justify-content: space-between;
    	.main-footer-social{
    		width: 25%;
    		padding: 0;
    		text-align: left;
    		&__item{
    			margin: 0 5px;
    			width: 15px;
    			height: 15px;
    			transition: all ease .3s;
    			&:hover{
    				opacity: .6;
    			}
    		}
    	}
    	.main-footer-menu{
    		width: 50%;
    		padding: 0;
    		&__item{
    			padding: 0 em(15);
    		}
    		a{
    			font-size: em(10);
    			transition: opacity ease .3s;
    			&:hover{
    				opacity: .6;
    			}
    		}
    	}
    	.main-footer-copy{
    		width: 25%;
    		text-align: right;
    		p{
    			display: inline;
    			margin-right: 22px;
    			@include font('quick', 'bold');
				font-size: em(10);
				color: c('grey-footer3');
    		}
    		a{
    			@include font('quick', 'bold');
				font-size: em(10);
				color: c('grey-footer3');
				display: inline-block;
				transition: opacity ease .3s;
				&:hover{
    				opacity: .6;
    			}
    		}
    	}
	}
}
