.main-footer {
	&__main{
		position: relative;
		background: c('grey-footer');
		padding: em(160) em(45) em(50);
		p{
			color: c('grey-footer4');
			font-size: em(11);
			line-height: em(20);
			text-align: center;
			display: none;
		}
		.paycomet-footer-logo{
			width: 210px;
			height: auto;
			position: absolute;
			bottom: -190px;
		    left: 0;
		    margin: 0 auto;
		    right: 0;
		    display: none;
		}
		&--rates{
			p{
				display: block;
			}
		}
		&--ratespage{
			padding-top: em(50);
		}
		&--loginpage{
			padding-top: em(0);
			padding-bottom: em(20);
		}
		&--legalpage{
			padding-top: em(20);
		}
	}
	&__top{
		background: c('grey-footer');
		padding: 0 em(30) em(50);
		overflow: hidden;
		.main-footer-sitemap{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			&__column{
				display: flex;
				flex-direction: column;
				flex: 0 46%;
				padding-bottom: em(20);
				.footer-page{
					@include font('quick', 'bold');
					font-size: em(16);
					color: #565656;
					line-height: em(22);
					padding-bottom: em(20);
					&--active{
						opacity: .6;
					}
				}
				a{
					font-size: em(16);
					font-weight: 500;
					color: #9a9a9a;
					line-height: em(22);
					padding-bottom: em(10);
				}
				&--servicios {
					order: 4;
					transform: translateY(#{em(-130)});
				}
				&--main-menu {
					order: 3;
				}
			}
			&__languages{
				margin-bottom: em(20);
				transform: translateY(#{em(50)});
				a:first-child:after{
					content: '/';
					display: inline-block;
					@include font('quick', 'bold');
					font-size: em(16);
					color: #565656;
					padding-left: em(5);
				}
				a{
					@include font('quick', 'bold');
					color: #565656;
					transition: opacity .3s ease-in;
					&:hover{
						opacity: .6;
					}
				}
			}
			&__languages-item{
				&--active{
					opacity: .6;
				}
			}
		}
		.main-footer-logos{
			width: 44.14vw;
			float: right;
			text-align: center;
			transform: translateY(#{em(-130)});
			.pci-logo{
				width: 126px;
				height: auto;
				margin-bottom: em(50);
			}
			.bce-logo{
				width: 135px;
				height: auto;
			}
		}
	}
	&__bottom{
		background: c('grey-footer2');
		padding: 5px 0 35px;
		.main-footer-social{
			text-align: center;
			padding: 37px 0 24px;
			list-style: none;
			li{
				display: inline-block;
			}
			&__item{
				display: inline-block;
				margin: 0 6px;
				width: 20px;
				height: 20px;
				background-size: contain;
				background-repeat: no-repeat;
				text-indent: -9999px;
				&--facebook{
					background-image: url('../img/facebook.svg');
				}
				&--twitter{
					background-image: url('../img/twitter.svg');
				}
				&--linkedin{
					background-image: url('../img/linkedin.svg');
				}
			}
		}
		.main-footer-menu{
			padding: 0 em(50) em(30);
			text-align: center;
			&__item{
				display: inline-block;
				padding: 0 em(5);
				a{
					@include font('quick', 'bold');
					font-size: em(16);
					line-height: em(24);
					color: c('grey-footer3');
					transition: opacity .3s ease-in;
					&:hover{
						opacity: .6;
					}
				}
			}
		}
		.main-footer-copy{
			    display: flex;
    			justify-content: space-between;
    			padding: 0 em(30);
			p{
				@include font('quick', 'bold');
				font-size: em(12);
				color: c('grey-footer3');
				text-align: left;
				text-transform: uppercase;
			}
			a{
				@include font('quick', 'bold');
				font-size: em(12);
				color: c('grey-footer3');
				transition: opacity .3s ease-in;
				&:hover{
					opacity: .6;
				}
			}
		}
	}
	&__item{
		&--active{
			opacity: .6;
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
