.locations {
	&__title{
		max-width: em(290);
		margin: 0 auto;
	}
	&__outer{
		max-width: em(680);
		margin: 0 auto;
	}
	&__item{
		img{
			height: em(90);
			margin-bottom: em(25);
		}
		p{
			font-size: em(20);
		}
	}
}
