.locations {
	&__title{
		@include font('quick');
		line-height: em(22);
		text-align: center;
		padding: 0 em(15);
	}
	&__outer{
		padding: em(85) em(25) em(50);
		display: flex;
		justify-content: space-between;
	}
	&__item{
		align-items: center;
		align-self: flex-end;
		text-align: center;
		img{
			height: em(52);
			width: auto;
			margin-bottom: em(20);
		}
		p{
			font-size: em(12);
			@include font('quick', bold);
		}
	}
}

@include medium {
  @import 'medium';
}

@include large {
  @import 'large';
}

@include xlarge {
  @import 'xlarge';
}
