.contact {
	&__title{
		padding: 0;
		font-size: em(41);
		line-height: em(41, 30);
		font-weight: 400;
		margin-bottom: em(15, 30);
	}
	&__container {
		margin-top: em(15);
		align-items: flex-start;
		.cover__text {
			margin-top: em(80);
		}
	}
	&__text{
		padding-right: em(78);
	}
	&__form{
		position: relative;
		width: em(485);
		flex-shrink: 0;
		.form{
			padding: em(64) em(52) em(30) em(42);
			&__input{
				margin-bottom: em(24);
				&--margin-bottom{
					margin-bottom: em(64);
				}
			}
		}
	}
	&--page{
		padding-bottom: 0;
		max-width: em(915);
		@include xCenter;
		margin-bottom: em(80);
	}
}
