.contact {
	&__title{
		padding: 0 em(34, 30) em(28, 30);
		font-size: em(30);
	}
	&__form{
		background: c('white');
		border-radius: 15px;
		box-shadow: 5px 8px 98px rgba(0, 0, 0, 0.2);
		.form{
			padding: em(45) em(35) em(30);
			&__input{
				margin-bottom: em(22);	
			}
			.form__legal:nth-of-type(2){
				margin-bottom: em(40);
			}
		}
	}
	&--page{
		padding-top: em(140);
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
