.landing-steps {
  margin-bottom: em(100);
	&__title {
		&:after {
      bottom: em(-25);
		}
	}
	&__wrapper {
    justify-content: center;
    padding-top: em(70);
	}
}

.landing-step {
	&__image {
    margin-bottom: 0;
  }
	&__title {
    height: em(60, 20);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
	}
	&__text {
		p {}
	}
}

.swiper-pagination {
  display: none;
}

.swiper-pagination--landing-steps {
	.swiper-pagination-bullet-active {}
}
