.landing-steps {
	padding-top: em(30);
	margin-bottom: em(40);
	&__title {
		text-align: center;
		font-size: em(30);
		font-weight: 400;
		padding: 0 em(20, 30);
		line-height: 1.4;
		position: relative;
		&:after {
			content: '';
			height: em(1, 30);
			width: em(35, 30);
			background-color: c('black');
			position: absolute;
			bottom: em(-15, 30);
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	&__wrapper {
		padding-top: em(55);
	}
}

.landing-step {
	width: em(240);
	text-align: center;
	&__image {
		margin-bottom: 0;
	}
	&__title {
		font-size: em(20);
    font-weight: 700;
    height: em(55, 20);
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	}
	&__text {
		padding: 0 em(20);
		p {
			font-size: em(13);
			hyphens: none;
			letter-spacing: em(0.2, 13);
		}
	}
}

.swiper-pagination--landing-steps {
	bottom: em(20) !important;
	.swiper-pagination-bullet-active {
		background-color: c('grey-dark');
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
