.features {
	display: flex;
	flex-direction: wrap;
	justify-content: space-between;
	margin-bottom: 0;
	.dispositives{
    	position: relative;
		padding: em(30) em(10) 0 0;
		width: em(660);
		picture{
			position: relative;
			width: 100%;
			top: 0;
			right: 0;
		}
		&__background{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../img/dropdowns-solutions-bg-mockup@2x.png') no-repeat;
			background-size: 100%;
			background-position: center em(50);
		}
		&--reservas{
			margin-top: -40px;
		}
	}
	&__info{
		width: em(620);
		padding: em(100) em(182) em(100) em(70);
		h2{
			font-size: em(25);
			text-align: left;
			padding-left: 0;
			padding-bottom: em(15);
			margin-bottom: em(35);
			&:after{
				margin: 0;
			}
		}
	}
}
