.features {
	margin-bottom: em(120);
	.dispositives{
		width: 100%;
		height: auto;
		padding: em(60) em(35) 0 em(15);
	}
	&__info{
		width: 100%;
		padding: em(24) em(20) 0;
		h2{
			text-align: center;
			position: relative;
			font-size: em(30);
			line-height: em(20);
			padding: 0 em(8) em(12);
			margin-bottom: em(10);
			span{
				font-weight: bold;
			}
			&:after{
				display: block;
				content: '';
				width: 9.8%;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				background: c('black');
				border-radius: 1px;
			}
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
