.home-business {
  margin-top: em(30);
  z-index: 11;
  &__title {
    &:after {}
  }
  &__cards {
    padding-top: em(75);
    .image-card {
      margin: 0 em(15);
    }
  }
  .swiper-container--home-business {
    padding-bottom: em(70);
    margin-bottom: em(-10);
  }
  .swiper-pagination--home-business {}
  .swiper-button--home-business {
    display: block;
    background-color: c('blue');
    background-image: url(../img/arrow-white.svg);
    width: em(61);
    height: em(61);
    border-radius: 50%;
    left: em(-33);
    margin-top: em(-29);
    background-size: em(10) em(10);
    background-position: 80% 50%;
    transition: 200ms ease background;
    &.swiper-button-next {
      left: auto;
      right: em(-33);
      transform: rotate(180deg);
    }
    &:hover {
      background-color: c('blue-hover');
      transition: 200ms ease background;
    }
  }
  &--plataforma{
    margin-top: em(160);
    margin-bottom: em(110);
    .home-business__title{
      max-width: em(720, 30);
      margin: 0 auto;
    }
  }
}
