.home-business {
  margin-top: em(145);
  margin-bottom: em(15);
  position: relative;
  z-index: 1;
  &__title {
    position: relative;
    text-align: center;
    font-weight: 400;
    font-size: em(30);
    padding: 0 em(20, 30);
    line-height: 1.3;
    &:after {
      display: block;
      content: '';
      width: em(36.5, 30);
      height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: c('black');
      border-radius: em(1, 30);
      bottom: em(-25, 30);
    }
  }
  &__cards {
    padding-top: em(65);
    .image-card {
      margin: 0 em(10);
    }
  }
  .swiper-container--home-business {
    padding-bottom: em(45);
  }
  .swiper-pagination--home-business {
    bottom: em(-25) !important;
    position: relative;
  }
  .swiper-button--home-business {
    display: none;
  }
  &--plataforma{
    .swiper-container--home-business {
      padding-bottom: em(60);
    }
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
