.solutions {
	&__grid {
    max-width: em(920);
    @include xCenter;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	}
	&--plataforma{
		margin-top: em(-30);
		margin-bottom: em(20);
		padding-top: 0;
	}
}
.solution {
  width: 22.5%;
  cursor: pointer;
	&__icon {
    margin-bottom: em(15);
  }
	&__title {
    font-size: em(18);
    line-height: 1.4;
		transition: 200ms ease all;
		opacity: 1;
		transform: translate3d(0,0,0);
		max-width: em(180,18);
  }
	&__text {
		transition: 200ms ease all;
		opacity: 1;
		transform: translate3d(0,0,0);
		display: block;
    p {
      font-size: em(12);
      word-break: keep-all;
    }
	}
	&__toggle {
    display: none;
	}
	&:hover {
		.solution__title {
			opacity: 0.7;
			transform: translate3d(0,-10px,0);
			transition: 200ms ease all;
		}
		.solution__text {
			opacity: 0.7;
			transform: translate3d(0,-25px,0);
			transition: 200ms ease all;
		}
	}
}
.solutions--plataforma{
	.solution{
		cursor: inherit;
		&:hover{
			.solution__title {
				opacity:1;
				transform: none;
			}
			.solution__text {
				opacity: 1;
				transform: none;
			}
		}
	}
}
