.home-rates {
  padding-top: 0;
  margin: em(-400) 0 0;
	&__background {
    background: none;
    padding-top: 62.5%;
    height: auto;
    position: relative;
    &:before {
      background-image: url(../img/home/mascara-A@2x.png);
      background-size: 100% em(215);
      height: em(215);
    }
    &:after {
      background-image: url(../img/home/mascara-B@2x.png);
      background-size: 100% em(122);
      height: em(122);
    }
  }
  &__content {
    position: absolute;
    left: 0;
    width: 100%;
    top: 17vw;
  }
	&__title {
    max-width: em(670, 30);
    @include xCenter;
		&:after {}
	}
	&__clients {
    max-width: em(870);
    padding: 0;
    @include xCenter;
    display: flex;
    justify-content: space-around;
  }
	&__client {
    margin-bottom: em(40);
    opacity: 1;
    transition: 200ms ease opacity;
    &:hover {
      content: '';
      opacity: 0.6;
      transition: 200ms ease opacity;
    }
  }
	&__image {}
}
