.home-rates {
	&__background {
		padding-top: 235%;
		background-size: cover;
		background-image: url('../img/bg-estrellas-mobile.png');
	}
	&__title {
		position: relative;
		margin-top: em(90, 30);
		padding: 0 em(30, 30);
		&:after {
			display: block;
			content: '';
			width: em(36.5, 30);
			height: 2px;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			background: c('white');
			border-radius: em(1, 30);
			bottom: em(-25, 30);
		}
	}
	&__clients {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: em(75);
		padding: 0 em(30);
	}
	&__client {
		display: block;
		margin-bottom: em(25);
	}
	&__image {
		height: em(45);
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
