.landing-rates {
  padding-top: em(530);
  position: relative;
  z-index: 1;
  margin: em(-450) 0 0;
	&__background {
    padding-top: 0;
    height: em(918);
    background: none;
		&:before {
      height: em(322);
      background-size: 100% em(322.5);
      background-position: bottom;
      top: em(-2);
      z-index: 1;
    }
		&:after {
      height: em(342);
      background-size: 100% em(340.5);
      background-position: top;
      bottom: em(-2);
      z-index: 1;
    }
	}
  &__video {
    display: block;
    bottom: 1px;
  }
	&__title {
    position: relative;
    &:after {
      content: '';
      width: em(37.5, 30);
      height: em(2, 30);
      position: absolute;
      @include xCenter;
      bottom: em(-20, 30);
      background-color: c('white');
    }
  }
	&__cards {
    margin-top: em(60);
    @include xCenter;
    max-width: em(840);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
	}
	&__card {
    width: em(385);
  }
	&__conditions {
    max-width: em(480);
    @include xCenter;
		p {
      hyphens: none;
    }
	}
}
