.landing-rates {
	&__background {

		&:before {
		}
		&:after {
		}
	}
	&__video {
	}
	&__title {
	}
	&__cards {
	}
	&__card {}
	&__conditions {
		p {
		}
	}
}


@include medium {
}
@include large {
}
@include xlarge {
}
