.landing-rates {
	position: relative;
	padding-top: em(100);
	&__background {
		padding-top: 88.25%;
		z-index: -1;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		background-image: url(../img/bg-estrellas-mobile.png);
		background-position: center;
		background-size: em(375) em(331);
		background-repeat: no-repeat;

		&:before {
			content: '';
			background-image: url(../img/mascara-A@2x.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			display: block;
			height: em(95);
		}
		&:after {
			content: '';
			background-image: url(../img/mascara-B@2x.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			display: block;
			height: em(100);
		}
	}
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		display: none;
	}
	&__title {
		text-align: center;
		font-weight: 400;
		color: c('white');
		font-size: em(30);
		padding: 0 em(20, 30);
		line-height: 1.3;
	}
	&__cards {
		padding: em(15) em(15) 0;
	}
	&__card {}
	&__conditions {
		text-align: center;
		p {
			font-size: em(11);
			color: c('grey-light');
			letter-spacing: 0;
		}
	}
}


@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
