.pagination {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 50px auto 100px;
	padding: 10px 0;
	max-width: 210px;
	&__btn{
		position: absolute;
		top: 0;
		text-indent: -9999px;
		overflow: hidden;
		width: 7px;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../img/arrow.svg');
		transition: opacity .2s ease;
		&--prev{
			left: 0;
		}
		&--next{
			right: 0;
			transform: rotate(180deg);
		}
		&:hover{
			opacity: .6;
		}
	}
}
.pages{
	padding:0 25px;
	&__page{
		position: relative;
		@include font('quick', 'bold');
		color: c('black');
		font-size: 20px;
		padding: 2px 10px 3px;
		display: inline-block;
		transition: opacity .2s ease;
		&:first-child{
			padding-left: 0;	
		}
		&:last-child{
			padding-right: 0;	
		}
		&--active{
			position: relative;
			color: c('white');
			z-index: 1;
			&:before{
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: c('blue');
				border-radius: 25px;
				z-index: -1;
				top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			}
		}
		&:hover{
			opacity: .6;
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}