.thankyou {
	padding-top: em(195);
	&__icon{
		width: em(115);
		margin: 0 auto em(13, 30);
	}
	&__title{
		font-size: em(41);
		margin-bottom: em(19, 41);
	}
	&__text{
		padding: 0 em(140);
	}
	&__ctas{
		.cta{
			margin: 0 em(6, 11);
		}
	}
	&--page{
		padding-bottom: em(280, 16);
	}
	&--block{

	}
}
