.thankyou {
	padding-top: em(140);
	text-align: center;
	&__icon{
		width: em(75);
		margin: 0 auto em(20, 30);
	}
	&__title{
		font-size: em(30);
		font-weight: 400;
		margin-bottom: em(15, 30);
	}
	&__text{
		p{
			font-size: em(19);
			line-height: em(25, 19);
			margin-bottom: em(22, 19);
			color: c('grey-dark-text');
			letter-spacing: 0;
			hyphens: none;
		}
	}
	&__ctas{
		display: flex;
		justify-content: center;
		text-align: center;
		.cta{
			width: em(128);
			a{
				font-size: em(11);
				letter-spacing: em(.5);
				text-transform: uppercase;
				padding: em(12, 11) 0 em(13, 11);
			}
		}
	}
	&--page{
		padding-bottom: em(45);
	}
	&--block{

	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
