.rates {
	&__title{
		margin-bottom: em(80, 30);
		padding-bottom: 0;
	}
	&__container{
		display: flex;
		margin-left: auto;
		margin-right: auto;
		max-width: em(800);
	}
	&--page{
		padding-bottom: em(85);
		.rates__title{
			text-align: center;
			margin-bottom: em(60, 45)
		}
	}
	&--block{
		margin-top: em(80);
		margin-bottom: em(125);
		position: relative;
		z-index: 1;
	}
}
