.rates {
	&__title{
		text-align: center;
		font-weight: 400;
		color: c('black');
		font-size: em(30);
		padding: 0 em(18, 30) em(20, 30);
		line-height: 1.3;
		margin-bottom: em(35, 30);
	}
	&--page{
		padding-top: em(140);
		.rates__title{
			text-align: left;
			padding-bottom: em(0);
			margin-bottom: em(20, 28);
		}
	}
	&--block{
		margin-top: em(50)
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
