.landing-footer {
	display: flex;
	flex-wrap: wrap;
	background-image: url('../img/footrer-bg@2x.png');
	background-position: center top;
	background-size: 100%;
	background-repeat: no-repeat;
	&__main{
		width: 75%;
		padding: em(126) 8.5vw em(60) 33.2vw;
		background: none;
		p{
			line-height: em(29);
		}
		.paycomet-footer-logo{
			position: absolute;
			width: 150px;
			top: 8%;
			bottom: 0;
			left: 0;
			margin: auto 155px auto 125px;
		}
	}
	&__top{
		width: 25%;
		display: block;
		padding: 0;
		padding-left: 5px;
		background: none;
		.pci-logo{
			margin-top: em(125);
		}
		img{
			display: block;
			margin-bottom: 20px;
		}
	}
	&__bottom{
		width: 100%;
		background: c('grey-footer');
		padding: em(12) em(26);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
    	justify-content: space-between;
    	.landing-footer-social{
    		width: 25%;
    		padding: 0;
    		text-align: left;
    		&__item{
    			margin: 0 5px;
    			width: 15px;
    			height: 15px;
    			transition: all ease .3s;
    			&:hover{
    				opacity: .6;
    			}
    		}
    	}
    	.landing-footer-menu{
    		width: 50%;
    		padding: 0;
    		&__item{
    			padding: 0 em(15);
    		}
    		a{
    			font-size: em(10);
    			transition: opacity ease .3s;
    			&:hover{
    				opacity: .6;
    			}
    		}
    	}
    	.landing-footer-copy{
    		width: 25%;
    		text-align: right;
    		p{
    			display: inline;
    			margin-right: 22px;
    			@include font('quick', 'bold');
				font-size: em(10);
				color: c('grey-footer3');
    		}
    		a{
    			@include font('quick', 'bold');
				font-size: em(10);
				color: c('grey-footer3');
				display: inline-block;
				transition: opacity ease .3s;
				&:hover{
    				opacity: .6;
    			}
    		}
    	}
	}
}
