.landing-footer {
	&__main{
		position: relative;
		background: c('grey-footer');
		padding: em(160) em(45) 40px;
		p{
			color: c('grey-footer4');
			font-size: em(11);
			line-height: em(20);
			text-align: center;
		}
		.paycomet-footer-logo{
			width: 210px;
			height: auto;
			position: absolute;
			bottom: -190px;
		    left: 0;
		    margin: 0 auto;
		    right: 0;
		}
	}
	&__top{
		background: c('grey-footer');
		padding: 0 em(45) 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.pci-logo{
			width: 126px;
			height: auto;
		}
		.bce-logo{
			width: 135px;
			height: auto;
		}
	}
	&__bottom{
		background: c('grey-footer2');
		padding: 100px 0 35px;
		.landing-footer-social{
			text-align: center;
			padding: 37px 0 24px;
			&__item{
				display: inline-block;
				margin: 0 6px;
				width: 20px;
				height: 20px;
				background-size: contain;
				background-repeat: no-repeat;
				text-indent: -9999px;
				&--facebook{
					background-image: url('../img/facebook.svg');
				}
				&--twitter{
					background-image: url('../img/twitter.svg');
				}
				&--linkedin{
					background-image: url('../img/linkedin.svg');
				}
			}
		}
		.landing-footer-menu{
			padding: 0 em(50) em(30);
			text-align: center;
			&__item{
				display: inline-block;
				padding: 0 em(5);
				a{
					@include font('quick', 'bold');
					font-size: em(16);
					line-height: em(24);
					color: c('grey-footer3');
				}
			}
		}
		.landing-footer-copy{
			p{
				@include font('quick', 'bold');
				font-size: em(12);
				color: c('grey-footer3');
				text-align: center;
				text-transform: uppercase;
			}
			a{
				display: none;
			}
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
