.distributiva{
	padding-top: em(20);
	h1{
		padding-left: 0;
		text-align: center;
	}
	&__cards{
		padding-top: em(65);
		padding-bottom: 0;
		margin-bottom: 0;
		.cards__item{
			width: em(455);
			padding-bottom: em(42);
			margin-bottom: em(10);
		}
		.cards__icon{
			margin: 32px 0 20px;
		}
		.cards__title{
			font-size: em(18);
		}
		.cards__content{
			display: block;
			padding: em(10) em(40) em(15);
		}
		.cards__link{
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: em(34);
			margin: auto;
			@include font('quick', 'bold');
			color: c('blue');
			font-size: em(13);
			text-decoration: underline;
		}
	}
	&--services{
		padding-bottom: em(20);
		.cards{
		    display: flex;
		    align-items: stretch;
		    flex-flow: wrap;
    		justify-content: center;
    		max-width: em(950);
    		text-align: left;
    		padding: em(65) 0 0;
		}
		.cards__item{
			position: relative;
			width: em(295);
			margin: 0 em(10) em(20);
			padding: em(35) em(5) em(25) em(25);
			box-shadow: 0 9px 22px rgba(0,0,0,.05);
			&:hover{
				box-shadow: 0 9px 46px rgba(0,0,0,.14);
			}
		}
		.cards__icon{
			width: em(30);
			margin-top: 0;
			margin-bottom: em(25);
		}
		.cards__title{
			font-size: em(27);
			padding-top: em(8);
		}
		.cards__content{
			padding: 0 em(15) 0 0;
		}
	}
}