.distributiva {
	padding-top: em(35);
	h1{
		padding-left: em(45, 30);
	}
	&__cards{
		padding-top: em(20);
		margin-bottom: em(16);
		align-items: stretch;
		.cards__item{
			height: auto;
			box-shadow: 0 9px 46px rgba(0, 0, 0, 0.14);
		}
		.cards__icon{
			margin: 32px 0 15px;
		}
		.cards__title{
			padding: 0 em(25);
		}
		.cards__content{
			display: none;
		}
		.cards__link{
			display: none;
		}
	}
	&--services{
		padding-bottom: em(30);
		.cards{
		    display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: stretch;
			padding-left: em(25);
			padding-right: em(25);
			padding-top: em(20);
			text-align: center;
		}
		.cards__item{
			width: em(160);
			padding: em(34) em(5) em(10);
			margin-bottom: em(5);
			background: c('white');
		}
		.cards__icon{
			width: em(35);
			margin-top: em(5);
			margin-bottom: em(10);
		}
		.cards__title{
			font-size: em(15);
			line-height: em(20);
			padding: em(12) 0 0 0;
		}
	}
}


@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
