* {
}

.paragraph {
}
.link {
}
span {
}

strong {
}

h1,
h2,
h3,
h4,
h5,
h6 {
}
.title {
  &--white {
  }
}
.subtitle {
  &--after{
    &:after{
      bottom: em(-25, 30);
    }
  }
}
.text {
  p {
    letter-spacing: em(0.1, 15);
  }
  h2 {
    letter-spacing: 0;
  }
  a {}
  ul {}
  ol {}
  li {}
  blockquote {
    p {
      &:before {}
      &:after {}
    }
  }
  img {
    margin: 0 0 em(82.5);
    max-width: 100%;
  }
}
.no-results {
  max-width: em(400);
}
.text-center {
}

.text-left {
}

.text-right {
}
