* {
}

.paragraph {
}
.link {
}
span {
}

strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.title {
  @include font('quick', 'bold');
  font-size: em(30);
  color: c('black');
  font-weight: 700;
  &--white {
    color: c('white');
  }
}
.subtitle {
  @include font('quick');
  font-size: em(20);
  color: c('grey');
  font-weight: 700;
  &--after{
    position: relative;
    &:after{
      content: "";
      width: em(36.5, 30);
      height: 2px;
      border-radius: em(1, 30);
      background-color: #000;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
.no-results {
  position: relative;
  max-width: em(300);
  padding: 0 em(40);
  text-align: center;
  @include xCenter;
  margin-top: em(50);
  margin-bottom: em(100);
}
.text {
  p {
    @include font('quick');
    font-size: em(15);
    letter-spacing: em(0.75, 15);
    line-height: 1.9;
    word-break: break-word;
    hyphens: auto;
    margin-bottom: em(65);
  }
  h2 {
    @include font('quick', 'bold');
    color: c('grey');
    font-size: em(22.5);
    letter-spacing: em(1, 22.5);
    word-break: break-word;
    hyphens: auto;
    line-height: 1.3;
    margin-bottom: em(17.5, 22.5);
  }
  a {}
  ul {}
  ol {}
  li {}
  blockquote {
    padding: 0 em(30);
    margin-top: em(-30);
    margin-bottom: em(30);
    p {
      margin-bottom: 0;
      font-size: em(20);
      letter-spacing: em(-0.3, 20);
      line-height: 1.45;
      &:before {
        content: '“';
        margin-right: em(-4, 20);
      }
      &:after {
        content: '”';
        margin-left: em(-4, 20);
      }
    }
  }
  img {
    margin: 0 em(-50);
    max-width: calc(100% + #{em(100)});
    margin-bottom: em(82.5);
  }
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
