.post {
  position: relative;
  background-image: url(../img/bg-bottom@2x.png);
  @include bgi;
  background-size: 100%;
  background-position: 100% 96%;
  &:before {
    content: '';
    z-index: 20;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background-image: url(../img/bg-top-post@2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    pointer-events: none;
  }
  &__header {
    overflow: visible;
    margin-top: em(-100);
    &:before {
      top: 0;
    }
  }
  &__curve {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url(../img/bg-top-post@2x.png);
    @include bgi;
  }
  &__wrapper {
    max-width: em(650);
    padding: em(50) 0 em(175);
    text-align: center;
    min-height: em(285);
    @include xCenter;
  }
  &__title {
    font-size: em(48);
    margin-bottom: em(22.5, 48);
    line-height: 1;
  }
  &__article-wrapper {
    position: relative;
    max-width: em(625);
    min-height: em(590);
    @include xCenter;

  }
  &__article {
    padding: 0;
    background-image: url(../img/bg-middle-post@2x.png);
    @include bgi;
    background-size: em(1010);
    background-position: 0% 60%;
  }
  &__date {
    left: 0;
    top: em(-50, 13);
  }
  &__categories{
    a {
      transition: 200ms ease all;
      &:after{
      }
      &:last-child{
        &:after{
        }
      }
      &:hover{
        transition: 200ms ease all;
        opacity: .6;
      }
    }
  }
  &__related {
    &:after {
    }
  }
}
