.post{
	&__header{
		min-height: em(300);
		&:after{
			top: auto;
			background-position: -2px bottom;
		}
	}
	&__wrapper {
	    padding: em(20) em(50) em(120);
	}
	&__date {
	    top: em(-25, 13);
	}
}