.post {
  margin-bottom: 0;
  &__header {
    position: relative;
    z-index: 1;
    padding-top: em(100);
    @include bgi;
    &:before {
      content: '';
      background-color: transparentize(c('black'), 0.3);
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: auto;
      bottom: -2px;
      left: 0;
      background-image: url(../img/curva.svg);
      background-size: 100%;
      background-position: center bottom;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }
  &__wrapper {
    padding: em(20) em(50) em(90);
    position: relative;
    z-index: 2;
    min-height: em(116);
  }
  &__title {
    font-size: em(30);
    color: c('white');
    line-height: 1.2;
  }
  &__article {
    padding: em(45) em(50) 0;
    position: relative;
    z-index: 2;
    overflow: visible;
  }
  &__date {
    position: absolute;
    @include font('quick');
    color: c('grey');
    font-size: em(13);
    top: 0;
    left: em(50, 13);
  }
  &__categories{
    padding-top: em(10);
    a {
      display: inline-block;
      color: c('white');
      text-decoration: underline;
      @include font('quick', medium);
      font-size: em(13);
      line-height: em(24);
      &:after{
        display: inline-block;
        content: '•';
        margin-left: 5px;
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
    }
  }
  &__related {
    text-align: center;
    font-size: em(25);
    font-weight: 400;
    margin: em(60) 0 em(40);
    color: c('black');
    position: relative;
    &:after {
      content: '';
      display: block;
      height: em(1, 25);
      width: em(36, 25);
      @include xCenter;
      border-bottom: em(1, 25) solid c('black');
      position: absolute;
      left: 0;
      right: 0;
      bottom: em(-15, 25);
    }
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
