.post {
  &:before {
  }
  &__header {
    &:after {
    }
  }
  &__curve {

  }
  &__wrapper {
    min-height: 31.6vw;
    padding-top: 9vw;
  }
  &__title {
  }
  &__article-wrapper {

  }
  &__article {
  }
  &__date {
  }
  &__categories{
    a {
      &:after{
      }
      &:last-child{
        &:after{
        }
      }
    }
  }
  &__related {
    &:after {
    }
  }
}
