.home-solutions {
	position: relative;
    z-index: 1;
	&__grid {
    max-width: em(920);
    @include xCenter;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	}
}
.home-solution {
  width: 22.5%;
	cursor: pointer;
	&__icon {
    margin-bottom: em(15);
  }
	&__title {
    font-size: em(18);
    line-height: 1.4;
		transition: 200ms ease all;
		opacity: 1;
		transform: translate3d(0,0,0);
		max-width: em(160,18);
  }
	&__text {
		transition: 200ms ease all;
		opacity: 1;
		transform: translate3d(0,0,0);
		display: block;
    p {
      font-size: em(12);
      word-break: keep-all;
    }
	}
	&__toggle {
    display: none;
	}
	&:hover {
		.home-solution__title {
			opacity: 0.7;
			transform: translate3d(0,-5px,0);
			transition: 200ms ease all;
		}
		.home-solution__text {
			opacity: 0.7;
			transform: translate3d(0,-5px,0);
			transition: 200ms ease all;
		}
	}
}
