.home-solutions {
	&__title {
		position: relative;
		text-align: center;
		font-weight: 400;
		font-size: em(30);
		padding: 0 em(20, 30);
		line-height: 1.3;
		&:after {
			display: block;
			content: '';
			width: em(36.5, 30);

			height: 2px;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			background: c('black');
			border-radius: em(1, 30);
			bottom: em(-25, 30);
		}
	}
	&__grid {
		margin-top: em(75);
		text-align: center;
	}
}
.home-solution {
	text-align: center;
	margin-bottom: em(60);
	&__icon {
		width: em(102.5);
	}
	&__title {
		color: c('black');
		font-weight: 700;
		font-size: em(20);
		max-width: em(150,20);
		@include xCenter;
		margin-bottom: em(20, 20);
		a{
			color: c('black');
			font-weight: 700;
		}
	}
	&__text {
		max-width: em(275);
		@include xCenter;
		display: none;
		p {
			font-size: em(13);
			letter-spacing: em(0.4, 13);
			margin-bottom: em(5, 13);
			hyphens: none;
			color: c('grey-text');
			font-weight: 500;
		}
		a{
			color: c('grey-text');
		}
	}
	&__toggle {
		@include xCenter;
		width: em(17.5);
		height: em(17.5);
		background-image: url(../img/home/flecha-desplegable.svg);
		@include bgi;
		background-size: 100%;
		transition: 500ms ease transform;
		transform: rotate(0deg);
		&.is-active {
			transform: rotate(-180deg);
			transition: 500ms ease transform;
		}
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
