.cookies {
	width: 90vw;
	margin: 0 auto;
	position: fixed;
	left: 0;
	right: 0;
    bottom: em(32);
    display: flex;
    flex-flow: column;
    padding: 25px;
    z-index: 9999;
    box-shadow: 2px 2px 33px rgba(0, 0, 0, 0.31);
    background-color: c('white');
    border-radius: em(3);
    transition: transform .4s ease-out, opacity .4s ease-out, visibility 0s .5s;
    .text{
    	font-size: em(12);
    	line-height: em(22, 12);
    	padding-bottom: em(25);
    	a{
	    	text-decoration: underline;
	    	color: c('blue');
	    	@include font('quick', 'bold');
	    	&:hover{
	    		opacity: .6;
	    	}
	    }
    }
    &__btn{
    	width: em(127, 10);
    	font-size: em(11);
    	align-self: center;
    	a{
    		letter-spacing: em(.55);
    	}
    }
    &--is-hidden{
    	opacity: 0;
    	transform: translateY(40px);
    	visibility: hidden;
    }
}

@include medium {
  @import 'medium';
}

@include large {
  @import 'large';
}

@include xlarge {
  @import 'xlarge';
}
