.player {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	z-index: 99999;
	opacity: 0;
	visibility: hidden;
	transition: opacity .4s ease-in, visibility 0;
	&__screen{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	&__close{
		width: em(45);
		height: em(45);
		background-image: url('../img/cruz_grey.svg');
		background-size: em(25);
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		position: absolute;
		top: em(30);
		right: em(30);
		transform: rotate(45deg);
	}
	&--open{
		opacity: 1;
		visibility: visible;
	}
	video{
		width: 80%;
		height: auto;
	}
}

@include medium {
  @import 'medium';
}

@include large {
  @import 'large';
}

@include xlarge {
  @import 'xlarge';
}
