.logos {
	&__title{
		max-width: em(320);
		margin: em(40) auto em(45);
	}
	&__group{
		max-width: em(750);
		margin: 0 auto;
		justify-content: space-between;
		padding: 0;
	}
	&__item{
		width: auto;
		padding: 0 em(20) em(10);
	}
}
