.logos {
	&__title{
		text-align: center;
		font-size: em(30);
		@include font('quick', 'light');
		margin-top: em(40);
		margin-bottom: em(45);
		padding: em(0) em(20) 0;
		&:after{
			content: '';
			display: block;
			margin: 0 auto;
			width: em(25);
			height: 1px;
			background-color: c('black');
			position: relative;
			top: em(15);
		}
	}
	&__group{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0 em(35);
	}
	&__item{
		width: 50%;
		text-align: center;
		margin-bottom: em(25);
		&--01{
			img{
				width: em(80);
			}
		}
		&--02{
			img{
				width: em(105);
			}
		}
		&--03{
			img{
				width: em(65);
			}
		}
		&--04{
			img{
				width: em(125);
			}
		}
		&--05{
			img{
				width: em(80);
			}
		}
		&--06{
			img{
				width: em(95);
			}
		}
		&--07{
			img{
				width: em(72);
			}
		}
		&--08{
			img{
				width: em(80);
			}
		}
		&--09{
			img{
				width: em(115);
			}
		}
		&--10{
			img{
				width: em(122);
			}
		}
	}
}

@include medium {
  @import 'medium';
}

@include large {
  @import 'large';
}

@include xlarge {
  @import 'xlarge';
}
