.omnicanal {
	display: block;
	padding: em(120) 0 em(220);
	text-align: center;
	&__title{
		font-size: em(30);
		@include font('quick');
		margin-bottom: em(25);
	}
	&__text{
		font-size: em(15);
		line-height: em(23);
		color: c(grey-text);
		max-width: 48.9vw;
		margin: 0 auto em(80);
	}
	&__graphic{
		width: 553px;
		height: 476px;
		margin: 0 auto;
		position: relative;
	}
	.globe{
		&__lines{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transform-origin: center;
			transform: rotate(45deg);
			svg{
				width: 553px;
				height: 476px;
			}
		}
		&__circles{
			position: relative;
			width: 130px;
			height: 130px;
			top: 50%;
		    transform: translateY(-50%);
		    left: 0;
		    right: 0;
		    bottom: 0;
		    margin: auto;
		}
		&__circle {
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			transform-origin: center;
			background: c('white');
			background-position: -130px;
			box-shadow: 0 15px 23px rgba(0, 0, 0, 0.08);
			transition: transform .35s ease-out, background .3s ease-in;
			opacity: 0;
			&:before{
				content: '';
				display: block;
				background: c('white');
				position: absolute;
			    width: 114px;
			    height: 114px;
			    border-radius: 50%;
			    box-shadow: 0 15px 23px rgba(0, 0, 0, 0.08);
			    top: 8px;
			    left: 8px;
			}
			&:hover{
				background-position: center;
		    	background-image: linear-gradient(-140deg, #006dff 0%, #43d2f1 100%);
		    }
			svg{
				transform-origin: 50% 50%;
			    width: 50%;
			    position: relative;
			    transform: translateY(40px);
			    opacity: 0;
			    transition: opacity .25s ease-in .4s, transform 1s cubic-bezier(.38,.49,0,1.08) .4s;
			}
			&--center{
				transform: scale(0.5);
				transition: transform .7s cubic-bezier(.38,.49,0,1.08);
			}
			&--expanded{
				&.globe__circle--devices{
					transform: translate3d(-140px,-215px,0);
					svg{
					    width: 50px;
					}
				}
				&.globe__circle--chart{
					transform: translate3d(140px,-215px,0);
					svg{
					    width: 53px;
					}
				}
				&.globe__circle--phone{
					transform: translate3d(250px,0,0);
					svg{
					    width: 52px;
					}
				}
				&.globe__circle--mail{
					transform: translate3d(140px,215px,0);
					svg{
					    width: 50px;
					}
				}
				&.globe__circle--shop{
					transform: translate3d(-140px,215px,0);
					svg{
					    width: 50px;
					}
				}
				&.globe__circle--message{
					transform: translate3d(-250px,0,0);
					svg{
					    width: 50px;
					}
				}
				&.globe__circle--center{
					width: 200px;
				    height: 200px;
				    left: -34px;
				    top: -39px;
				    transform: scale(1);
				    p{
				    	text-align: center;
				    	font-size: em(28);
				    	@include font('quick', bold);
				    	color: #31b5f0;
						opacity: 0;
						transform: translateY(20);
						transition: transform .3s ease-in .2s;
						user-select: none;
					}
				    &:before{
				    	width: 180px;
    					height: 180px;
    					background: url('../img/omnicanal@2x.png');
		    			background-size: contain;
		    			background-repeat: no-repeat;
		    			background-position: center;
		    			opacity: 1;
		    			transition: background .3s ease-out, opacity .5s ease-out;
				    }
				    &.text-layer{
				    	&:before{
				    		opacity: 0;
				    	}
				    	p{
				    		opacity: 1;
				    		transform: translateY(0);
				    	}
				    }
				    &:hover{
				    	background-image: none;
					}
				}
				svg{
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
	&--plataforma{
		padding-bottom: em(70);
	}
}
