.search {
	display: flex;
	form{
		position: relative;
	}
	input{
		max-width: 160px;
		background-color: c('grey-superlight');
		border: none;
		border-radius: 25px;
		padding: em(4) em(10);
		outline: 0;
		color: c('white');
		opacity: 0;
		visibility: hidden;
		transform: translateX(70px);
		transition: all .2s ease-in;
		&::placeholder {
	      color: c('white');
	    }
		&:focus {
	      box-shadow: none;
	      border: none;
	    }
	    &.is-visible{
	    	opacity: 1;
			visibility: visible;
			transform: translateX(0);
	    }
	}
	//remove inherit input styles browser
	//IE
	/*input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
	input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }*/
	//Crhome
	/*input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration {
	  -webkit-appearance:none;
	}*/
	&__target{
		position: relative;
		width: 20px;
		height: 100%;
		background-image: url('../img/search.svg');
		background-position: center;
		background-repeat: no-repeat;
		margin-right: 30px;
		margin-left: 10px;
	}
}

@include xsmall {
  @import 'xsmall';
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
